<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/datepicker.css" rel="stylesheet">
	<!-- ************************验证样式************************-->
	<script src="/static/SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
	<link href="/static/SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css">
	<!--<script src="/static/SpryAssets/SpryValidationSelect.js" type="text/javascript"></script>
	<link href="/static/SpryAssets/SpryValidationSelect.css" rel="stylesheet" type="text/css" />-->
	<style type="text/css">
		.table-list .table-label{width:140px;}
		input.long{width:70%;}
		input.btn-mini{width:20px;margin-top:0px;}
	</style>
	<script src="/static/js/script.js"></script>
</head>

<body onload="datepicker();$('input,textarea').attr({'disabled':'disabled'});">
	<div class="content">			
		<!--**********************基本信息**********************-->
		<i class="icon-bookmark"></i><span class="titletip">基本信息</span>
		<div class="divBorder">		
			<table class="table-list">				
				<tr>
					<td class="table-label">客户名称<font class="red">*</font></td>
					<td>
						<input type="text" value="{{customer.customer_name}}" disabled/>
					</td>	
					<td class="table-label">审议事项<font class="red">*</font></td>
					<td colspan="3">
						<select name="">
							<option value="1">新贷款</option>
							<option value="2">重复贷款</option>
							<option value="3">并行贷款</option>
							<option value="4">变更贷款条件</option>
							<option value="5">其他</option>
						</select>
					</td>	
				</tr>
				<tr>
					<td class="table-label">建议贷款金额<font class="red">*</font></td>
					<td>
						<input type="text" value="{{riskanalysis_and_findings.amount}}" onclick="setJe(this);" disabled/>
						<span class="je">人民币</span>	
						<span class="errorInfo"></span>			
					</td>	
					<td class="table-label">建议期限<font class="red">*</font></td>
					<td>
						<select name="" style="width:60px" disabled>
							<option value="{{riskanalysis_and_findings.deadline}}">{{riskanalysis_and_findings.deadline}}</option>
						</select>月
					</td>
					<td class="table-label">建议利率(月%)<font class="red">*</font></td>
					<td>
						<input type="text" value="{{riskanalysis_and_findings.rates}}" disabled/>
					</td>		
				</tr>
				<tr>
					<td class="table-label">每月还款额<font class="red">*</font></td>
					<td colspan="3">
						<input type="text" value="{{riskanalysis_and_findings.monthly_repayment}}" onclick="setJe(this);" disabled/>	
						<span class="je">人民币</span>	
						<span class="errorInfo"></span>				
					</td>	
				</tr>	
			</table>	
		</div>
		<!--**********************建议共同贷款人**********************-->
		<i class="icon-bookmark"></i><span class="titletip">建议共同贷款人</span>
		<div class="divBorder">	
			<table class="table-list" id="jygtdkr">
				<!-- <tr>
					<th>姓名</th>
					<th>与客户关系</th>
					<th>身份证号码</th>							
					<th>家庭电话</th>
					<th>主营业务或职务（如受雇与别人）</th>
					<th>经营地址或工作单位地址</th>		
					<th>主要资产</th>
					<th>月收入</th>								
				</tr> -->
				{%- for obj in co_borrower %}
				<tr class="center"><!--后期Js中要增加ID字段-->
					<td rowspan='2' class='table-label'>姓名<input type="text" name="name" class="tbInput" value="{{obj.name}}" disabled/></td>
					<td>与客户关系<input type="text" name="relationship" class="tbInput" value="{{obj.relationship}}" disabled/></td>	
					<td>身份证号码<input type="text" name="id_number" class="tbInput" value="{{obj.id_number}}" disabled/></td>
					<td>家庭电话<input type="text" name="phone" class="tbInput" value="{{obj.phone}}" disabled/></td>
					<td>主营业务或职务<input type="text" name="main_business" class="tbInput" value="{{obj.main_business}}" disabled/></td>	
					<td>经营地址或工作单位地址<input type="text" name="address" class="tbInput" value="{{obj.address}}" disabled/></td>	
					<td>主要资产<input type="text" name="major_assets" class="tbInput" value="{{obj.major_assets}}" disabled/></td>
					<td>月收入<input type="text" name="monthly_income" class="tbInput" value="{{obj.monthly_income}}" disabled/></td>
				</tr>
				<tr class='add'>
					<td colspan='2'>家庭详细地址<input type='text' name='' class='tbInput' disabled/></td>	
					<td>户籍所在地<input type='text' name='' class='tbInput' disabled/></td>
					<td>住房性质
						<select name='' disabled>
							<option value='1'>自有产权(按揭)</option>
							<option value='2'>自有产权(无按揭)</option>
							<option value='3'>小产权</option>
							<option value='4'>租用</option>
							<option value='5'>其他</option>
						</select>
					</td>
					<td colspan='3'>备注<br/><input type='text' name='' class='tbInput' disabled/></td>
                </tr>
				{%- endfor %}
			</table>
		</div>	
		<!--**********************建议担保方式**********************-->
		<i class="icon-bookmark"></i><span class="titletip">建议担保方式</span><br/>
		&nbsp;&nbsp;&nbsp;<span class="titletip">抵押担保</span>
		<div class="divBorder">		
			<table class="table-list" id="jydydb">
				<tr class="center">
					<td class="table-label">物品名称</td>
					<td class="table-label">所有者、地址</td>
					<td class="table-label">描述</td>
					<td class="table-label">权证或单据号码</td>
					<td class="table-label">市场估价</td>
					<td class="table-label">抵押价值</td>
				</tr>	
				{%- for obj in guaranty %}
				<tr class="center"><!--后期Js中要增加ID字段-->
					<td><input type="text" name="obj_name" class="tbInput" value="{{obj.obj_name}}" disabled/><br/>&nbsp;</td>			
					<td><input type="text" name="owner_address" class="tbInput" value="{{obj.owner_address}}" disabled/><br/>&nbsp;</td>
					<td><input type="text" name="description" class="tbInput" value="{{obj.description}}" disabled/><br/>&nbsp;</td>	
					<td><input type="text" name="registration_number" class="tbInput" value="{{obj.registration_number}}" disabled/><br/>&nbsp;</td>
					<td>
						<input type="text" name="appraisal" class="tbInput" value="{{obj.appraisal}}" onclick="setJe(this);" disabled/>
						<span class="je">人民币</span>	
						<span class="errorInfo"></span>
					</td>
					<td>
						<input type="text" name="mortgage" class="tbInput" value="{{obj.mortgage}}" onclick="setJe(this);" disabled/>
						<span class="je">人民币</span>	
						<span class="errorInfo"></span>
					</td>					
				</tr>
				{%- endfor %}
			</table>
		</div>
		<!--&nbsp;&nbsp;&nbsp;<span class="titletip">质押担保</span>
		<input type="button" value="+" onclick="addTd('jyzydb','edit_sdhjyd')" class="btn btn-info btn-mini"/>
		<input type="button" value="-" onclick="removeTd('jyzydb','edit_sdhjyd')" class="btn btn-info btn-mini"/>	
		<div class="divBorder">		
			<table class="table-list" id="jyzydb">
				<tr class="center">
					<td class="table-label">抵押人</td>
					<td class="table-label">抵押物名称</td>
					<td class="table-label">数量</td>
					<td class="table-label">权证或单据号码</td>
					<td class="table-label">市场估价</td>
					<td class="table-label">抵押价值</td>
				</tr>	
				<tr class="center">
					<td>
						<input type="text" name=""/>	
					</td>
					<td>
						<input type="text" name=""/>	
					</td>
					<td>
						<input type="text" name=""/>	
					</td>
					<td>
						<input type="text" name=""/>	
					</td>
					<td>
						<input type="text" name=""/>	
					</td>
					<td>
						<input type="text" name=""/>	
					</td>
				</tr>
			</table>
		</div>-->
		&nbsp;&nbsp;&nbsp;<span class="titletip">保证担保</span>
		<div class="divBorder">		
			<table class="table-list" id="jybzdb">
				<tr>
					<th>姓名</th>
					<th>地址</th>
					<th>身份证号码</th>							
					<th>工作单位</th>
					<th>电话</th>		
					<th>与申请人关系</th>								
				</tr>	
				{%- for obj in guarantees %}
				<tr class="center"><!--后期Js中要增加ID字段-->
					<td><input type="text" name="name_db" class="tbInput" value="{{obj.name}}" disabled/></td>
					<td><input type="text" name="address_db" class="tbInput" value="{{obj.address}}" disabled/></td>							
					<td><input type="text" name="id_number_db" class="tbInput" value="{{obj.id_number}}" disabled/></td>	
					<td><input type="text" name="workunit_db" class="tbInput" value="{{obj.workunit}}" disabled/></td>
					<td><input type="text" name="phone_db" class="tbInput" value="{{obj.phone}}" disabled/></td>	
					<td><input type="text" name="relationship_db" class="tbInput" value="{{obj.relationship}}" disabled/></td>										
				</tr>
				{%- endfor %}
			</table>
		</div>
		<form id="content" method="POST" action="/Process/fksh/edit_fksh/{{loan_apply_id}}" target="_parent">
		<!--**********************其他信息**********************-->
		<i class="icon-bookmark"></i><span class="titletip">其他信息</span>
		<div class="divBorder">		
			<table class="table-list">
				<tr>
					<td class="table-label">需要审议的其他内容</td>
					<td colspan="2">
						<span>
							<textarea name="other_deliberations" style="width:80%" onchange="spryMaxLength(this,256)" disabled>{{riskanalysis_and_findings.other_deliberations}}</textarea>
							<span class="errorInfo">字符数不得大于256</span>
						</span>						
					</td>
				</tr>	
				<tr>					
					<td class="table-label" rowspan="2">正反因素分析</td>
					<td class="table-label">正</td>
					<td>
						<span>
							<textarea name="positive" style="width:80%"onchange="spryMaxLength(this,256)" disabled>{{riskanalysis_and_findings.positive}}</textarea>
							<span class="errorInfo">字符数不得大于256</span>
						</span>	
					</td>
				</tr>
				<tr>
					<td class="table-label">反</td>
					<td>
						<span>
							<textarea name="opposite" style="width:80%"onchange="spryMaxLength(this,256)" disabled>{{riskanalysis_and_findings.opposite}}</textarea>
							<span class="errorInfo">字符数不得大于256</span>
						</span>	
					</td>
				</tr>
			</table>
		</div>
		<!--**********************贷款决议情况**********************-->
		<i class="icon-bookmark"></i><span class="titletip">贷款决议情况</span><br/>
		<label>
			<input type="radio" name="bool_grant" value="1" checked onclick="$('#success').show();$('#refuse').hide();"/>同意
		</label>
		<label>
			<input type="radio" name="bool_grant" value="0" onclick="$('#refuse').show();$('#success').hide();"/>拒绝
		</label>
		<div class="divBorder" id="success">
			<table class="table-list">				
				<tr>
					<td class="table-label" rowspan="3" style="width:60px;">决议结论</td>
					<td class="table-label" style="width:80px;">金额(元)<font class="red">*</font></td>
					<td>
						<span id="amount">
							<input type="text" name="amount" value="{{approval_decision.amount}}" style="width:100px;" maxlength="11" onkeyup="setJe(this)" onclick="setJe(this)"/>
							<span class="textfieldRequiredMsg">不能为空</span><br/>
							<span class="je">人民币</span>							
							<span class="errorInfo"></span>
						</span>
					</td>	
					<td class="table-label" style="width:50px;">期限(月)<font class="red">*</font></td>
					<td>
						<select name="deadline" style="width:60px" disabled>
							{%- if approval_decision.deadline == '1' %}
								<option value="1" selected>1</option>
							{%- else %}
								<option value="1">1</option>
							{%- endif %}
							{%- if approval_decision.deadline == '2' %}
								<option value="2" selected>2</option>
							{%- else %}
								<option value="2">2</option>
							{%- endif %}
							{%- if approval_decision.deadline == '3' %}
								<option value="3" selected>3</option>
							{%- else %}
								<option value="3">3</option>
							{%- endif %}
							{%- if approval_decision.deadline == '4' %}
								<option value="4" selected>4</option>
							{%- else %}
								<option value="4">4</option>
							{%- endif %}
							{%- if approval_decision.deadline == '5' %}
								<option value="5" selected>5</option>
							{%- else %}
								<option value="5">5</option>
							{%- endif %}
							{%- if approval_decision.deadline == '6' %}
								<option value="6" selected>6</option>
							{%- else %}
								<option value="6">6</option>
							{%- endif %}
							{%- if approval_decision.deadline == '7' %}
								<option value="7" selected>7</option>
							{%- else %}
								<option value="7">7</option>
							{%- endif %}
							{%- if approval_decision.deadline == '8' %}
								<option value="8" selected>8</option>
							{%- else %}
								<option value="8">8</option>
							{%- endif %}
							{%- if approval_decision.deadline == '9' %}
								<option value="9" selected>9</option>
							{%- else %}
								<option value="9">9</option>
							{%- endif %}
							{%- if approval_decision.deadline == '10' %}
								<option value="10" selected>10</option>
							{%- else %}
								<option value="10">10</option>
							{%- endif %}
							{%- if approval_decision.deadline == '11' %}
								<option value="11" selected>11</option>
							{%- else %}
								<option value="11">11</option>
							{%- endif %}
							{%- if approval_decision.deadline == '12' %}
								<option value="12" selected>12</option>
							{%- else %}
								<option value="12">12</option>
							{%- endif %}
							{%- if approval_decision.deadline == '13' %}
								<option value="13" selected>13</option>
							{%- else %}
								<option value="13">13</option>
							{%- endif %}
							{%- if approval_decision.deadline == '14' %}
								<option value="14" selected>14</option>
							{%- else %}
								<option value="14">14</option>
							{%- endif %}
							{%- if approval_decision.deadline == '15' %}
								<option value="15" selected>15</option>
							{%- else %}
								<option value="15">15</option>
							{%- endif %}
							{%- if approval_decision.deadline == '16' %}
								<option value="16" selected>16</option>
							{%- else %}
								<option value="16">16</option>
							{%- endif %}
							{%- if approval_decision.deadline == '17' %}
								<option value="17" selected>17</option>
							{%- else %}
								<option value="17">17</option>
							{%- endif %}
							{%- if approval_decision.deadline == '18' %}
								<option value="18" selected>18</option>
							{%- else %}
								<option value="18">18</option>
							{%- endif %}
							{%- if approval_decision.deadline == '19' %}
								<option value="19" selected>19</option>
							{%- else %}
								<option value="19">19</option>
							{%- endif %}
							{%- if approval_decision.deadline == '20' %}
								<option value="20" selected>20</option>
							{%- else %}
								<option value="20">20</option>
							{%- endif %}
							{%- if approval_decision.deadline == '21' %}
								<option value="21" selected>21</option>
							{%- else %}
								<option value="21">21</option>
							{%- endif %}
							{%- if approval_decision.deadline == '22' %}
								<option value="22" selected>22</option>
							{%- else %}
								<option value="22">22</option>
							{%- endif %}
							{%- if approval_decision.deadline == '23' %}
								<option value="23" selected>23</option>
							{%- else %}
								<option value="23">23</option>
							{%- endif %}
							{%- if approval_decision.deadline == '24' %}
								<option value="24" selected>24</option>
							{%- else %}
								<option value="24">24</option>
							{%- endif %}
						</select>
					</td>	
					<td class="table-label" style="width:50px;">利率<font class="red">*</font></td>
					<td>
						<!-- <input type="text" style="width:40px" name="rates" onKeyUp="value=value.replace(/[^\d\.]/g,'')"/>% -->
						<span id="rates">
							<input type="text" style="width:40px" name="rates" value="{{approval_decision.rates}}" onKeyUp="value=value.replace(/[^\d\.]/g,'')" onchange="check(this,0,100)" maxlength="4"/>%<br/>
							<span class="textfieldRequiredMsg">不能为空</span><br/>	
							<span class="errorInfo">请输入0-100的数</span>
						</span>
					</td>
							
				</tr>
				<tr>
					<td class="table-label" style="width:110px;">还款方式<font class="red">*</font></td>
					<td>
						<select name="repayment_type" disabled>
							{%- if approval_decision.repayment_type == 1 %}
							<option value="1" selected>等额本金</option>
							{%- else %}
							<option value="1">等额本金</option>
							{%- endif %}
							{%- if approval_decision.repayment_type == 2 %}
							<option value="2" selected>等额本息</option>
							{%- else %}
							<option value="2">等额本息</option>
							{%- endif %}
							{%- if approval_decision.repayment_type == 3 %}
							<option value="3" selected>按月还息到期还本</option>
							{%- else %}
							<option value="3">按月还息到期还本</option>
							{%- endif %}
							{%- if approval_decision.repayment_type == 4 %}
							<option value="4" selected>利随本清</option>
							{%- else %}
							<option value="4">利随本清</option>
							{%- endif %}
						</select>
					</td>	
					<td class="table-label" style="width:110px;">每期还款金额<font class="red">*</font></td>
					<td colspan="3">
						<span id="monthly_repayment">
							<input type="text" name="monthly_repayment" value="{{approval_decision.monthly_repayment}}" maxlength="11" onkeyup="setJe(this)" onclick="setJe(this)"disabled />
							<span class="textfieldRequiredMsg">不能为空</span>		<br/>
							<span class="je">人民币</span>
							<span class="errorInfo"></span>
						</span>
					</td>													
				</tr>
				<tr>
					<td class="table-label" style="width:110px;">借款人姓名<font class="red">*</font></td>
					<td>
						<input type="text" value="{{customer.customer_name}}" disabled/>
					</td>	
					<td class="table-label" style="width:120px;">借款人身份证号码<font class="red">*</font></td>
					<td colspan="3">
						<input type="text" value="{{customer.credentials_no}}" maxlength="11" disabled/>
					</td>													
				</tr>
				<tr>
					<td class="table-label" style="width:110px;">共同借款人<font class="red">*</font></td>
					<td colspan="2">
						<label>
							<input type="radio" name="bool_co_borrower" value="1" checked/>同意
						</label>
						<label>
							<input type="radio" name="bool_co_borrower" value="0" />拒绝
						</label>
					</td>	
					<td class="table-label" style="width:110px;">抵质押<font class="red">*</font></td>
					<td>
						<label>
							<input type="radio" name="bool_guaranty" value="1" checked/>同意
						</label>
						<label>
							<input type="radio" name="bool_guaranty" value="0" />拒绝
						</label>
					</td>
					<td class="table-label" style="width:110px;">保证<font class="red">*</font></td>
					<td>
						<label>
							<input type="radio" name="bool_guarantees" value="1" checked/>同意
						</label>
						<label>
							<input type="radio" name="bool_guarantees" value="0" />拒绝
						</label>
					</td>													
				</tr>
				<tr>
					<td class="table-label" style="width:110px;">其他决议内容</td>
					<td colspan="6">
						<span>
							<textarea name="other_resolution" style="width:80%"onchange="spryMaxLength(this,256)"></textarea>
							<span class="errorInfo">字符数不得大于256</span>
						</span>	
					</td>																
				</tr>
			</table>
		</div>
		<div class="divBorder" id="refuse" style="display:none">
			<table class="table-list">				
				<tr>
					<td class="table-label">主要拒绝原因</td>					
					<td>
						<span>
							<textarea name="refuse_reason" style="width:80%"onchange="spryMaxLength(this,256)"></textarea>
							<span class="errorInfo">字符数不得大于256</span>
						</span>
					</td>																
				</tr>
			</table>
		</div>
		<div class="divBorder" style="display:none">
			<table class="table-list">				
				<tr>
					<td class="table-label">有条件通过</td>					
					<td>
						<span>
							<textarea name="conditional_pass" style="width:80%"onchange="spryMaxLength(this,256)"></textarea>
							<span class="errorInfo">字符数不得大于256</span>
						</span>
					</td>																
				</tr>
			</table>
		</div>
		<span class="point">*为必填字段</span><br/>
		</form>
	</div>

	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	
	<script src="/static/js/process.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript">
		var max=0;
		var jegs=0;
		var num=0;
		var idCard=0;
		var phone=0;
		var sprytextfield1 = new Spry.Widget.ValidationTextField("amount", "none");
		var sprytextfield1 = new Spry.Widget.ValidationTextField("rates", "none");
		var sprytextfield1 = new Spry.Widget.ValidationTextField("monthly_repayment", "none");

		function doSubmit(type){
			document.getElementById("content").action = "/Process/fksh/edit_fksh/{{loan_apply_id}}/"+type;
		}
	</script>
</body>
</html>
