<!DOCTYPE html>
<html lang="zh-cn">
<head>
	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<link href="/static/css/bootstrap.css" rel="stylesheet">	
	<style type="text/css">
		form{margin-top:21.5em;margin-left:auto;margin-right:auto;width:510px;} 
		label{color:#555555;font-size:14px;font-weight:bold;}	
		button{margin-left:3em;}		
	</style>		
</head>

<bodys>				
	<form class="form-horizontal" method="POST" action="testCRM">
		{{...}}
	</form>
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
