<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/jquery-ui-1.8.21.custom.css" rel="stylesheet">
	<style type="text/css">		
		textarea{width:80%;}		
	</style>
</head>

<body onload="sub()">	
	<form class="content">
	<!--*****************************************账款清单**************************************************-->
		<i class="icon-bookmark"></i><span class="titletip">应收帐款详单</span>
		<div id="ZKXD">
			<div style="margin-bottom:5px;">
				<a type="button" class="btn btn-info" href="#" onclick="$('#dqdcXed_zkqd',window.parent.document).height(500);$('#content_frame',window.parent.parent.document).height(600);iframe('Process/dqdc/new_zkqd/{{id}}');">新增</a><!--*滚动条问题*-->
			</div>
			<div style="border:1px solid #94c1dc;">	
				<table class="table-list" cellspacing="10" id="uesr-list">				
					<tr>
						<th>应收对象</th>  
						<th>欠款日期</th>
						<th>应还款日期</th>	
						<th>应收金额</th>						
						<th>应收类别</th>
						<th>应收对象联系方式</th>						
						<th>关系/生意模式</th>
						<th>操作</th>
					</tr>   
					{%- for obj in accounts_list %}
					<tr class="center" onclick="changeColor(this)">
						<td><a href="#" onclick="iframe('Process/dqdc/edit_zkqd/{{obj.id}}')">{{obj.name}}</a></td>
						<td>{{obj.occur_date}}</td>
						<td>{{obj.deadline}}</td>
						<td class="subData1">{{obj.original_price}}</td>
						<td>{{obj.pay_type}}</td>
						<td>{{obj.present_price}}</td>
						<td>{{obj.cooperation_history}}</td>
						<td>
							<input type="button" class="btn btn-danger btn-mini" value="删除"/>	
						</td>
					</tr>	
					{%- endfor %}
					<tr>
						<th>合计</th> 
						<th></th>
						<th></th>
						<th id="sub1"></th>						
						<th></th>
						<th></th>
						<th></th>						
						<th></th>
					</tr>					
				</table>
			</div>
		</div>
	</form>

	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/jquery-ui-1.8.21.custom.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/process.js"></script>
	<script type="text/javascript">
		var max=0;
		var jegs=0;
		var num=0;
		var idCard=0;
		var phone=0;
		function sub(){
			//var num=$(".tbData").length;			
			//$("#sub1").text("总笔数："+num);
			for(i=1;i<3;i++){
				var sum=0;						
				$.each($(".subData"+i),function(key,val){ 
					if(val.innerHTML=="")
						sum=sum;
					else
						sum += parseInt(val.innerHTML);					
						$("#sub"+i).html(sum+"<br/><span class='je'>"+hjje($("#sub"+i),sum)+"</span>"); 	
				}); 
			}
		}
	</script>
</body>
</html>
