<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">	
	<!-- ************************验证样式************************-->
	<script src="/static/SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
	<link href="/static/SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css">
	<style type="text/css">	
		input.btn-mini{width:20px;}	
		textarea{width:80%;}	
		.table-list .table-label{width:180px;}	
	</style>
	<script type="text/javascript">
		function setInput(){
			$('input[type=text]').click();
		}
	</script>
</head>

<body onload="setInput()">	
	<form class="content" method="POST" action="/Process/dqdc/dqdcXed_jcjy/{{loan_apply_id}}" target="_parent">
	<!--*****************************************交叉检验**************************************************-->
		<i class="icon-bookmark"></i><span class="titletip">交叉检验</span>
		{%- if cross_examination %}
		<div class="divBorder">
			<table class="table-list">				
				<tr>
					{%- for obj in cross_examination %}
						{%- if obj.loan_type == 0 %}
						<td class="table-label">{{obj.items_name}}</td>
						<td colspan="6">
							<span>
								<input type="hidden" name="type_0" value="0">
								<input type="hidden" name="name_0" value="{{obj.items_name}}">
								<textarea name="value_0" onchange="spryMaxLength(this,2048)">{{obj.content}}</textarea>
								<span class="errorInfo">字符数不得大于2048</span>
							</span>
						</td>
						{%- endif %}
					{%- endfor %}	
				</tr>		
				<tr>
					{%- for obj in cross_examination %}
						{%- if obj.loan_type == 1 %}
						<td class="table-label">{{obj.items_name}}</td>
						<td colspan="6">
							<span>
								<input type="hidden" name="type_1" value="1">
								<input type="hidden" name="name_1" value="{{obj.items_name}}">
								<textarea name="value_1" onchange="spryMaxLength(this,2048)">{{obj.content}}</textarea>
								<span class="errorInfo">字符数不得大于2048</span>
							</span>
						</td>	
						</td>
						{%- endif %}
					{%- endfor %}
				</tr>
				<tr>
					{%- for obj in cross_examination %}
						{%- if obj.loan_type == 2 %}
						<td class="table-label">{{obj.items_name}}</td>
						<td colspan="6">
							<span>
								<input type="hidden" name="type_2" value="2">
								<input type="hidden" name="name_2" value="{{obj.items_name}}">
								<textarea name="value_2" onchange="spryMaxLength(this,2048)">{{obj.content}}</textarea>
								<span class="errorInfo">字符数不得大于2048</span>
							</span>
						</td>	
						{%- endif %}
					{%- endfor %}
				</tr>
			</table>
		</div>	
		<i class="icon-bookmark"></i><span class="titletip">权益交叉检验</span>
		<div class="divBorder">
			<table class="table-list" id="qcqyhj">
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 3 %}
					<tr>
						<td class="table-label">
							{%- if obj.index == 0 %}
								<b>{{obj.items_name}}</b>
							{%- else %}
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{obj.items_name}}
							{%- endif %}
							<input type="hidden" name="type_3" value="3">
							<input type="hidden" name="name_3" value="{{obj.items_name}}">
						</td>
						<td style="text-align:left">
							{%- if obj.index == 0 %}
							<input type="text" name="value_3" onkeyup="setJe(this);" maxlength="11" onclick="setJe(this)" value="{{obj.content}}" readonly/>
							<input type="button" value="+" onclick="addTd('qcqyhj','dqdcXed_jcjy')" class="btn btn-info btn-mini"/>
							<input type="button" value="-" onclick="removeTd('qcqyhj','dqdcXed_jcjy')" class="btn btn-info btn-mini"/>
							{%- else %}
							<input type="text" name="value_3" onkeyup="setJe(this);" onblur='hj(3);yyqy();qyce();qyjcjybl()' maxlength="11" onclick="setJe(this)" value="{{obj.content}}" />
							{%- endif %}
							<br/><span class="je">人民币</span>
							<span class="errorInfo"></span>	
						</td>
						<td class="table-label">
							{%- if obj.index == 0 %}
								<b>{{cross_examination[cross_examination.index(obj)+count_3].items_name}}</b>
							{%- else %}
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{cross_examination[cross_examination.index(obj)+count_3].items_name}} 
							{%- endif %}	
							<input type="hidden" name="type_4" value="4">
							<input type="hidden" name="name_4" value="{{cross_examination[cross_examination.index(obj)+count_3].items_name}}">
						</td>
						<td>
							{%- if cross_examination[cross_examination.index(obj)+count_3].index == 0 %}
							<input type="text" name="value_4" onkeyup="setJe(this);" maxlength="11" onclick="setJe(this)" value="{{obj.content}}" readonly/>
							<input type="button" value="+" onclick="addTd('qcqyhj','dqdcXed_jcjy')" class="btn btn-info btn-mini"/>
							<input type="button" value="-" onclick="removeTd('qcqyhj','dqdcXed_jcjy')" class="btn btn-info btn-mini"/>
							{%- else %}
							<input type="text" name="value_4" onkeyup="setJe(this);" onblur='hj(4);yyqy();qyce();fxqjljsr();qyjcjybl()' maxlength="11" onclick="setJe(this)" value="{{cross_examination[cross_examination.index(obj)+count_3].content}}" />
							{%- endif %}
							<br/><span class="je">人民币</span>
							<span class="errorInfo"></span>	
						</td>
					</tr>
					{%- endif %}
				{%- endfor %}																	
			</table>
		</div>		
		<div class="divBorder">
			<table class="table-list" id="dxzchj">
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 5 %}
					<tr>
						<td class="table-label">
							{%- if obj.index == 0 %}
								<b>{{obj.items_name}}</b>
							{%- else %}
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{obj.items_name}}
							{%- endif %}
							<input type="hidden" name="type_5" value="5">
							<input type="hidden" name="name_5" value="{{obj.items_name}}">
						</td>
						<td>
							{%- if obj.index == 0 %}
							<input type="text" name="value_5" onkeyup="setJe(this);" maxlength="11" onclick="setJe(this)" value="{{obj.content}}" readonly/>
							<input type="button" value="+" onclick="addTd('dxzchj','dqdcXed_jcjy')" class="btn btn-info btn-mini"/>
							<input type="button" value="-" onclick="removeTd('dxzchj','dqdcXed_jcjy')" class="btn btn-info btn-mini"/>
							{%- else %}
							<input type="text" name="value_5" onkeyup="setJe(this);" onblur='hj(5);yyqy();qyce();qyjcjybl()' maxlength="11" onclick="setJe(this)" value="{{obj.content}}" />
							{%- endif %}
							<br/><span class="je">人民币</span>
							<span class="errorInfo"></span>	
						</td>
					</tr>	
					{%- endif %}
				{%- endfor %}															
			</table>
		</div>
		<div class="divBorder">
			<table class="table-list" id="dxzchj">
				
					<tr>
						{%- for obj in cross_examination %}
							{%- if obj.loan_type == 6 %}
							<td class="table-label">
								<b>{{obj.items_name}} </b>
								<input type="hidden" name="type_6" value="6">
								<input type="hidden" name="name_6" value="{{obj.items_name}}">
							</td>
							<td>
								<input type="text" name="value_6" onkeyup="setJe(this);" onblur="yyqy();qyce();fxqjljsr();qyjcjybl()" maxlength="11" onclick="setJe(this)" value="{{obj.content}}"/>
								<br/><span class="je">人民币</span>
								<span class="errorInfo"></span>	
							</td>
							{%- endif %}

							{%- if obj.loan_type == 7 %}
							<td class="table-label">
								<b>{{obj.items_name}} </b>
								<input type="hidden" name="type_7" value="7">
								<input type="hidden" name="name_7" value="{{obj.items_name}}">
							</td>
							<td>
								<input type="text" name="value_7" onkeyup="setJe(this);" onblur="yyqy();qyce();fxqjljsr();qyjcjybl()" maxlength="11" onclick="setJe(this)" value="{{obj.content}}"/>
								<br/><span class="je">人民币</span>
								<span class="errorInfo"></span>	
							</td>
							{%- endif %}
						{%- endfor %}
						</tr>
						<tr>
						{%- for obj in cross_examination %}
							{%- if obj.loan_type == 8 %}
							<td class="table-label">
								<b>{{obj.items_name}} </b>
								<input type="hidden" name="type_8" value="8">
								<input type="hidden" name="name_8" value="{{obj.items_name}}">
							</td>
							<td>
								<input type="text" name="value_8" onkeyup="setJe(this);" onblur="yyqy();qyce();fxqjljsr();qyjcjybl()" maxlength="11" onclick="setJe(this)" value="{{obj.content}}"/>
								<br/><span class="je">人民币</span>
								<span class="errorInfo"></span>	
							</td>
							{%- endif %}

							{%- if obj.loan_type == 9 %}
							<td class="table-label">
								<b>{{obj.items_name}} </b>
								<input type="hidden" name="type_9" value="9">
								<input type="hidden" name="name_9" value="{{obj.items_name}}">
							</td>
							<td>
								<input type="text" name="value_9" onkeyup="setJe(this);" onblur="yyqy();qyce();fxqjljsr();qyjcjybl()" maxlength="11" onclick="setJe(this)" value="{{obj.content}}"/>
								<br/><span class="je">人民币</span>
								<span class="errorInfo"></span>	
							</td>
							{%- endif %}
						{%- endfor %}
					</tr>													
			</table>
		</div>
		<div class="divBorder">
			<table class="table-list" id="dxzchj">
				<tr>
					{%- for obj in cross_examination %}
						{%- if obj.loan_type == 10 %}
						<td class="table-label">
							<b>{{obj.items_name}} </b>
							<input type="hidden" name="type_10" value="10">
							<input type="hidden" name="name_10" value="{{obj.items_name}}">
						</td>
						<td>
							<input type="text" name="value_10" onclick="setJe2(this)" value="{{obj.content}}" readonly/>
							<br/><span class="je">人民币</span>
							<span class="errorInfo"></span>	
						</td>
						{%- endif %}

						{%- if obj.loan_type == 11 %}
						<td class="table-label">
							<b>{{obj.items_name}} </b>
							<input type="hidden" name="type_11" value="11">
							<input type="hidden" name="name_11" value="{{obj.items_name}}">
						</td>
						<td>
							<input type="text" name="value_11" onclick="setJe(this)" value="{{obj.content}}" readonly/>
							<br/><span class="je">人民币</span>
							<span class="errorInfo"></span>	
						</td>
						{%- endif %}
					{%- endfor %}
				</tr>
				<tr>
					{%- for obj in cross_examination %}
						{%- if obj.loan_type == 12 %}
						<td class="table-label">
							<b>{{obj.items_name}} </b>
							<input type="hidden" name="type_12" value="12">
							<input type="hidden" name="name_12" value="{{obj.items_name}}">
						</td>
						<td>
							<input type="text" name="value_12" onclick="setJe2(this)" value="{{obj.content}}" readonly/>
							<br/><span class="je">人民币</span>
							<span class="errorInfo"></span>	
						</td>
						{%- endif %}

						{%- if obj.loan_type == 13 %}
						<td class="table-label">
							<b>{{obj.items_name}} </b>
							<input type="hidden" name="type_13" value="13">
							<input type="hidden" name="name_13" value="{{obj.items_name}}">
						</td>
						<td>
							<input type="text" name="value_13" onkeyup="setJe(this);" maxlength="11" onclick="setJe(this)" value="{{obj.content}}" readonly/>
							<br/><span class="je">人民币</span>
							<span class="errorInfo"></span>	
						</td>
						{%- endif %}
					{%- endfor %}
				</tr>		
				<tr>
					{%- for obj in cross_examination %}
						{%- if obj.loan_type == 14 %}
						<td class="table-label">
							<b>{{obj.items_name}} </b>
							<input type="hidden" name="type_14" value="14">
							<input type="hidden" name="name_14" value="{{obj.items_name}}">
						</td>
						<td colspan="3">
							<input type="text" name="value_14" onchange="check(this,1,100)" onkeyup="value=value.replace(/[^\d]/g,'')" style="width:60px" value="{{obj.content}}" readonly/>%
							<br/>&nbsp;<span class="errorInfo">请输入1-100的有效数字</span>
						</td>
						{%- endif %}
					{%- endfor %}
				</tr>																
			</table>
		</div>
		{%- else %}
		<div class="divBorder">
			<table class="table-list">				
				<tr>
					<td class="table-label">销售额交叉检验
						<input type="hidden" name="type_0" value="0">
						<input type="hidden" name="name_0" value="销售额交叉检验">
					</td>
					<td colspan="6">
						<span>
							<textarea name="value_0" onchange="spryMaxLength(this,2048)"></textarea>
							<span class="errorInfo">字符数不得大于2048</span>
						</span>
					</td>	
				</tr>		
				<tr>
					<td class="table-label">毛利润/成本交叉检验
						<input type="hidden" name="type_1" value="1">
						<input type="hidden" name="name_1" value="毛利润/成本交叉检验">
					</td>
					<td colspan="6">
						<span>
							<textarea name="value_1" onchange="spryMaxLength(this,2048)"></textarea>
							<span class="errorInfo">字符数不得大于2048</span>
						</span>
					</td>	
				</tr>
				<tr>
					<td class="table-label">其他交叉检验
						<input type="hidden" name="type_2" value="2">
						<input type="hidden" name="name_2" value="毛利润/成本交叉检验">
					</td>
					<td colspan="6">
						<span>
							<textarea name="value_2" onchange="spryMaxLength(this,2048)"></textarea>
							<span class="errorInfo">字符数不得大于2048</span>
						</span>
					</td>	
				</tr>
			</table>
		</div>	
		<i class="icon-bookmark"></i><span class="titletip">权益交叉检验</span>
		<div class="divBorder">
			<table class="table-list" id="qcqyhj">
				<tr>
					<td class="table-label">
						<b>期初权益合计</b>
						<input type="hidden" name="type_3" value="3">
						<input type="hidden" name="name_3" value="期初权益合计">
					</td>
					<td style="text-align:left">
						<input type="text" name="value_3" onkeyup="setJe(this);" value="0" onclick="setJe(this)" readonly/>
						<input type="button" value="+" onclick="addTd('qcqyhj','dqdcXed_jcjy')" class="btn btn-info btn-mini"/>
						<input type="button" value="-" onclick="removeTd('qcqyhj','dqdcXed_jcjy')" class="btn btn-info btn-mini"/>
						<br/><span class="je">人民币</span>
						<span class="errorInfo"></span>	
					</td>
					<td class="table-label">
						<b>分析期间收入合计</b>
						<input type="hidden" name="type_4" value="4">
						<input type="hidden" name="name_4" value="分析期间收入合计">
					</td>
					<td>
						<input type="text" name="value_4" onkeyup="setJe(this);" value="0" onclick="setJe(this)" readonly/>
						<input type="button" value="+" onclick="addTd('qcqyhj','dqdcXed_jcjy')" class="btn btn-info btn-mini"/>
						<input type="button" value="-" onclick="removeTd('qcqyhj','dqdcXed_jcjy')" class="btn btn-info btn-mini"/>
						<br/><span class="je">人民币</span>
						<span class="errorInfo"></span>	
					</td>
				</tr>																	
			</table>
		</div>		
		<div class="divBorder">
			<table class="table-list" id="dxzchj">
				<tr>
					<td class="table-label">
						<b>大项支出合计</b>
						<input type="hidden" name="type_5" value="5">
						<input type="hidden" name="name_5" value="大项支出合计">
					</td>
					<td>
						<input type="text" name="value_5" onkeyup="setJe(this);" value="0" onclick="setJe(this)" readonly/>
						<input type="button" value="+" onclick="addTd('dxzchj','dqdcXed_jcjy')" class="btn btn-info btn-mini"/>
						<input type="button" value="-" onclick="removeTd('dxzchj','dqdcXed_jcjy')" class="btn btn-info btn-mini"/>
						<br/><span class="je">人民币</span>
						<span class="errorInfo"></span>	
					</td>
				</tr>																
			</table>
		</div>
		<div class="divBorder">
			<table class="table-list" id="dxzchj">
				<tr>
					<td class="table-label">
						<b>其他收入</b>
						<input type="hidden" name="type_6" value="6">
						<input type="hidden" name="name_6" value="其他收入">
					</td>
					<td>
						<input type="text" name="value_6" onkeyup="setJe(this);" onblur="yyqy();qyce();fxqjljsr();qyjcjybl()" maxlength="11" onclick="setJe(this)"/>
						<br/><span class="je">人民币</span>
						<span class="errorInfo"></span>	
					</td>
					<td class="table-label">
						<b>升值</b>
						<input type="hidden" name="type_7" value="7">
						<input type="hidden" name="name_7" value="升值">
					</td>
					<td>
						<input type="text" name="value_7" onkeyup="setJe(this);" onblur="yyqy();qyce();fxqjljsr();qyjcjybl()" maxlength="11" onclick="setJe(this)"/>
						<br/><span class="je">人民币</span>
						<span class="errorInfo"></span>	
					</td>
				</tr>
				<tr>
					<td class="table-label">
						<b>折旧<br/>（资产负债表内折旧）</b>
						<input type="hidden" name="type_8" value="8">
						<input type="hidden" name="name_8" value="折旧(资产负债表内折旧)">
					</td>
					<td>
						<input type="text" name="value_8" onkeyup="setJe(this);" onblur="yyqy();qyce();fxqjljsr();qyjcjybl()" maxlength="11" onclick="setJe(this)"/>
						<br/><span class="je">人民币</span>
						<span class="errorInfo"></span>	
					</td>
					<td class="table-label">
						<b>表外资产</b>
						<input type="hidden" name="type_9" value="9">
						<input type="hidden" name="name_9" value="表外资产">
					</td>
					<td>
						<input type="text" name="value_9" onkeyup="setJe(this);" onblur="yyqy();qyce();fxqjljsr();qyjcjybl()" maxlength="11" onclick="setJe(this)"/>
						<br/><span class="je">人民币</span>
						<span class="errorInfo"></span>	
					</td>
				</tr>																
			</table>
		</div>
		<div class="divBorder">
			<table class="table-list" id="dxzchj">
				<tr>
					<td class="table-label">
						<b>应有权益</b>
						<input type="hidden" name="type_10" value="10">
						<input type="hidden" name="name_10" value="应有权益">
					</td>
					<td>
						<input type="text" name="value_10" value="0" onclick="setJe2(this)" readonly/>
						<br/><span class="je">人民币</span>
						<span class="errorInfo"></span>	
					</td>
					<td class="table-label">
						<b>实际权益<br/>（资产负债表所有者权益）</b>
						<input type="hidden" name="type_11" value="11">
						<input type="hidden" name="name_11" value="实际权益(资产负债表所有者权益)">
					</td>
					<td>
						<input type="text" name="value_11" onkeyup="setJe(this);" value="{{balance_sheet.content}}" onclick="setJe(this)" readonly/>
						<br/><span class="je">人民币</span>
						<span class="errorInfo"></span>	
					</td>
				</tr>
				<tr>
					<td class="table-label">
						<b>权益差额<br/>（应有权益-实际权益）</b>
						<input type="hidden" name="type_12" value="12">
						<input type="hidden" name="name_12" value="权益差额(应有权益-实际权益)">
					</td>
					<td>
						<input type="text" name="value_12" value="0" onclick="setJe2(this)" readonly/>
						<br/><span class="je">人民币</span>
						<span class="errorInfo"></span>	
					</td>
					<td class="table-label">
						<b>分析期间累计收入</b>
						<input type="hidden" name="type_13" value="13">
						<input type="hidden" name="name_13" value="分析期间累计收入">
					</td>
					<td>
						<input type="text" name="value_13" onkeyup="setJe(this);" value="0" onclick="setJe(this)" readonly/>
						<br/><span class="je">人民币</span>
						<span class="errorInfo"></span>	
					</td>
				</tr>		
				<tr>
					<td class="table-label">
						<b>权益交叉检验比率</b>
						<input type="hidden" name="type_14" value="14">
						<input type="hidden" name="name_14" value="权益交叉检验比率">
					</td>
					<td colspan="3">
						<input type="text" name="value_14" onchange="check(this,1,100)" onkeyup="value=value.replace(/[^\d]/g,'')" style="width:60px" readonly/>%
						<br/>&nbsp;<span class="errorInfo">请输入1-100的有效数字</span>
					</td>
					
				</tr>																
			</table>
		</div>
		{%- endif %}
		<input type="submit" value="保存" class="btn btn-info"/>
		<input type="button" value="打印" class="btn btn-info"/>
	</form>

	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/process.js"></script>
	<script type="text/javascript">
		var max=0;
		var jegs=0;
		var num=0;
		var idCard=0;
		var phone=0;
		var sprytextfield1 = new Spry.Widget.ValidationTextField("initial_equity", "none");
		var sprytextfield1 = new Spry.Widget.ValidationTextField("profit_period", "none");
		var sprytextfield1 = new Spry.Widget.ValidationTextField("injection_period", "none");
		var sprytextfield1 = new Spry.Widget.ValidationTextField("pick_period", "none");
		var sprytextfield1 = new Spry.Widget.ValidationTextField("depreciation", "none");
		var sprytextfield1 = new Spry.Widget.ValidationTextField("appreciation", "none");
		var sprytextfield1 = new Spry.Widget.ValidationTextField("price", "none");
		function hj(num){
			var sum=0;
			var length=$("input[name=value_"+num+"]").length;
			for(i=1;i<length;i++){
				var a=$("input[name=value_"+num+"]")[i].value;
				if(a==""){a=0;}else{a=parseInt(a);}
				sum+=a;
			}
			$("input[name=value_"+num+"]")[0].value=sum;
			$("input[name=value_"+num+"]")[0].click();
		}
		function yyqy(){//应有权益=期初权益+分析期间收入-大项支出+其他收入+升值-折旧（计入资产负债表的）-表外资产
			var sum=0;
			var a3=$("input[name=value_3]")[0].value;//期初权益
			var a4=$("input[name=value_4]")[0].value;//分析期间收入
			var a5=$("input[name=value_5]")[0].value;//大项支出
			var a6=$("input[name=value_6]").val();//其他收入
			var a7=$("input[name=value_7]").val();//升值
			var a8=$("input[name=value_8]").val();//折旧（计入资产负债表的）
			var a9=$("input[name=value_9]").val();//表外资产
			if(a3==""){a3=0;}else{a3=parseInt(a3);}
			if(a4==""){a4=0;}else{a4=parseInt(a4);}
			if(a5==""){a5=0;}else{a5=parseInt(a5);}
			if(a6==""){a6=0;}else{a6=parseInt(a6);}
			if(a7==""){a7=0;}else{a7=parseInt(a7);}
			if(a8==""){a8=0;}else{a8=parseInt(a8);}
			if(a9==""){a9=0;}else{a9=parseInt(a9);}
			sum=a3+a4-a5+a6+a7-a8-a9;
			$("input[name=value_10]").val(sum);
			$("input[name=value_10]").click();
		}
		function qyce(){//权益差额=应有权益-实际权益
			var sum=0;
			var a1=$("input[name=value_10]").val();//应有权益
			var a2=$("input[name=value_11]").val();//实际权益
			if(a1==""){a1=0;}else{a1=parseInt(a1);}
			if(a2==""){a2=0;}else{a2=parseInt(a2);}
			sum=a1-a2;
			$("input[name=value_12]").val(sum);
			$("input[name=value_12]").click();
		}
		function fxqjljsr(){//分析期间累计收入=分析期间收入合计			
			var a1=$("input[name=value_4]")[0].value;//分析期间收入合计			
			if(a1==""){a1=0;}else{a1=parseInt(a1);}
			$("input[name=value_13]").val(a1);
			$("input[name=value_13]").click();
		}
		function qyjcjybl(){//权益交叉检验比率= 权益差额/分析期间累计收入
			var sum=0;
			var a1=$("input[name=value_12]").val();//权益差额
			var a2=$("input[name=value_13]").val();//分析期间累计收入
			if(a1==""){a1=0;}else{a1=parseInt(a1);}
			if(a2==""){a2=0;}else{a2=parseInt(a2);}
			if(a2==0){
				sum=0
			}
			else{
				sum=a1/a2*100;
				sum=Math.round(sum*100)/100
			}
			
			$("input[name=value_14]").val(sum);
			$("input[name=value_14]").click();
		}
	</script>
</body>
</html>
