<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<!-- ************************验证样式************************-->
	<script src="/static/SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
	<link href="/static/SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		
	</style>
	<script type="text/javascript">
		function setInput(){
			$("input[type=text]").click();
		}
	</script>
</head>

<body onload="setInput()">	
	<form id="FDC" class="content" method="POST" action="/Process/dqdc/edit_fdc/{{fixed_assets_estate.id}}" target="_parent">
	<!--*****************************************新建房地产**************************************************-->
		<!--*****************************************房地产信息**************************************************-->
		<i class="icon-bookmark"></i><span class="titletip">房地产信息</span>		
		<div style="border:1px solid #94c1dc;">	
			<table class="table-list" id="">	
				<tr>
					<td class="table-label">房地产<font class="red">*</font></td>
					<td style="width:35%">
						<span id="name">	
							<input type="text" name="name" value="{{fixed_assets_estate.name}}" onchange="spryMaxLength(this,32)"/>
							<span class="textfieldRequiredMsg">不能为空</span>
							<span class="errorInfo">字符数不得大于32</span>
						</span>
					</td>
					<td class="table-label">座落<font class="red">*</font></td>
					<td>
						<span id="address">	
							<input type="text" name="address" value="{{fixed_assets_estate.address}}" onchange="spryMaxLength(this,64)"/>
							<span class="textfieldRequiredMsg">不能为空</span>
							<span class="errorInfo">字符数不得大于64</span>
						</span>
					</td>
				</tr>
				<tr>
					<td class="table-label">建筑面积<font class="red">*</font></td>
					<td>
						<span id="gfa">	
							<input type="text" name="gfa" value="{{fixed_assets_estate.gfa}}" onchange="spryMaxLength(this,32)" onkeyup="value=value.replace(/[^\d\.]/g,'')"/>
							<span class="textfieldRequiredMsg">不能为空</span>
							<span class="errorInfo">字符数不得大于32</span>
						</span>
					</td>
					<td class="table-label">土地面积<font class="red">*</font></td>
					<td>
						<span id="land_area">	
							<input type="text" name="land_area" value="{{fixed_assets_estate.land_area}}" onchange="spryMaxLength(this,32)" onkeyup="value=value.replace(/[^\d\.]/g,'')"/>
							<span class="textfieldRequiredMsg">不能为空</span>
							<span class="errorInfo">字符数不得大于32</span>
						</span>
					</td>
				</tr>
				<tr>
					<td class="table-label">使用年限<font class="red">*</font></td>
					<td>
						<span id="life">
							<input type="text" name="life" value="{{fixed_assets_estate.life}}" onKeyUp="value=value=value.replace(/\D/g,'')" onchange="check(this,0,100)" maxlength="3"/>
							<span class="textfieldRequiredMsg">不能为空</span>
							<span class="errorInfo">请输入0-100的数</span>
						</span>
					</td>
					<td class="table-label">土地性质<font class="red">*</font></td>
					<td>
						<select name="land_type">
							<option value="国有出让">国有出让</option>
						</select>
					</td>
				</tr>				
				<tr>
					<td class="table-label">购置价或造价(元)<font class="red">*</font></td>
					<td>
						<span id="purchase_price">	
							<input type="text" name="purchase_price" value="{{fixed_assets_estate.purchase_price}}" onkeyup="setJe(this)" onclick="setJe(this)" maxlength="18"/>
							<span class="textfieldRequiredMsg">不能为空</span><br/>
							<span class="je">￥</span>	
							<span class="errorInfo"></span>							
						</span>
					</td>
					<td class="table-label">现价(元)<font class="red">*</font></td>
					<td>
						<span id="price">	
							<input type="text" name="price" value="{{fixed_assets_estate.price}}" onkeyup="setJe(this)" onclick="setJe(this)" maxlength="18"/>
							<span class="textfieldRequiredMsg">不能为空</span><br/>
							<span class="je">￥</span>	
							<span class="errorInfo"></span>							
						</span>
					</td>
				</tr>
				<tr>
					<td class="table-label">备注</td>
					<td colspan="3">
						<span>	
							<input type="text" name="remark" value="{{fixed_assets_estate.remark}}" onchange="spryMaxLength(this,64)" class="long"/>
							<span class="errorInfo">字符数不得大于64</span>
						</span>
					</td>
				</tr>
			</table>
		</div>

		<input type="submit" value="提交" class="btn btn-info"/>
	</form>

	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/process.js"></script>
	<script type="text/javascript">
		var max=0;
		var jegs=0;
		var num=0;
		var idCard=0;
		var phone=0;
		var sprytextfield1 = new Spry.Widget.ValidationTextField("name", "none");
		var sprytextfield1 = new Spry.Widget.ValidationTextField("address", "none");
		var sprytextfield1 = new Spry.Widget.ValidationTextField("gfa", "none");
		var sprytextfield1 = new Spry.Widget.ValidationTextField("land_area", "none");
		var sprytextfield1 = new Spry.Widget.ValidationTextField("life", "none");
		var sprytextfield1 = new Spry.Widget.ValidationTextField("purchase_price", "none");
		var sprytextfield1 = new Spry.Widget.ValidationTextField("price", "none");
	</script>
</body>
</html>
