<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/datepicker.css" rel="stylesheet">
	<!-- ************************验证样式************************-->
	<script src="/static/SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
	<link href="/static/SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		
	</style>
	<script type="text/javascript">
		function setInput(){
			$("input[type=text]").click();
		}
	</script>
</head>

<body onload="datepicker();setInput()">	
	<form id="FDC" class="content" method="POST" action="/Process/dqdc/edit_equipment/{{fixed_assets_equipment.id}}" target="_parent">
	<!--*****************************************设备及器材详单**************************************************-->
		<i class="icon-bookmark"></i><span class="titletip">设备及器材信息</span>		
		<div style="border:1px solid #94c1dc;">	
			<table class="table-list" id="">	
				<tr>
					<td class="table-label">设备及器材名称<font class="red">*</font></td>
					<td style="width:35%">
						<span id="name">	
							<input type="text" name="name" value="{{fixed_assets_equipment.name}}" onchange="spryMaxLength(this,32)"/>
							<span class="textfieldRequiredMsg">不能为空</span>
							<span class="errorInfo">字符数不得大于32</span>
						</span>
					</td>
					<td class="table-label">购置时间<font class="red">*</font></td>
					<td>
						<input type="text" name="purchase_date" value="{{fixed_assets_equipment.purchase_date}}" class="datepicker" data-date-format="yyyy-mm-dd" readonly/>						
					</td>					
				</tr>
				<tr>
					<td class="table-label">原始单价<font class="red">*</font></td>
					<td>
						<span id="type_brand">	
							<input type="text" name="type_brand" value="{{fixed_assets_equipment.type_brand}}" maxlength="11" onclick="setJe(this)" onkeyup="setJe(this)" onblur="zjz();zjl()"/>
							<span class="textfieldRequiredMsg">不能为空</span>
							<br/><span class="je">人民币</span>
							<span class="errorInfo"></span>							
						</span>
					</td>					
					<td class="table-label">折旧率<font class="red">*</font></td>
					<td>
						<span id="outward">	
							<input type="text" name="outward" value="{{fixed_assets_equipment.outward}}" onchange="check(this,1,100)" onblur="zjl()" onkeyup="value=value.replace(/[^\d]/g,'')" style="width:40px"/>%
							<span class="textfieldRequiredMsg">不能为空</span>
							<br/>&nbsp;<span class="errorInfo">请输入1-100的有效数字</span>
						</span>
					</td>
				</tr>
				<tr>
					<td class="table-label">数量<font class="red">*</font></td>
					<td colspan="3">
						<span id="amount">	
							<input type="text" name="amount" value="{{fixed_assets_equipment.amount}}" onKeyUp="value=value.replace(/\D/g,'')" maxlength="18" onblur="zjz();zjl()"/>
							<span class="textfieldRequiredMsg">不能为空</span>
						</span>
					<!--</td>
					<td class="table-label">生产年月<font class="red">*</font></td>
					<td> -->
						<input type="hidden" name="production_date" value="{{fixed_assets_equipment.production_date}}" class="datepicker" data-date-format="yyyy-mm-dd" readonly/>						
					</td>
				</tr>	
				<tr>					
					<td class="table-label"><b>总价值</b></td>	
					<td>
						<span id="total_price">	
							<input type="text" name="total_price" value="{{fixed_assets_equipment.total_price}}" onclick="setJe(this)" value="0" readonly/>
							<span class="textfieldRequiredMsg">不能为空</span><br/>
							<span class="je">人民币</span>	
							<span class="errorInfo"></span>							
						</span>
					</td>
					<td class="table-label"><b>折旧后价值</b></td><!--新增字段-->
					<td>
						<span>	
							<input type="text" name="price" onclick="setJe(this)" value="{{fixed_assets_equipment.price}}" readonly/><!--value值要改-->
							<br/><span class="je">人民币</span>	
							<span class="errorInfo"></span>							
						</span>
					</td>				
				</tr>				
							
				<tr>	
					<td class="table-label">备注</td>		
					<td colspan="3">
						<span>	
							<input type="text" name="remark" value="{{fixed_assets_equipment.remark}}" onchange="spryMaxLength(this,64)" style="width:80%"/>
							<span class="errorInfo">字符数不得大于64</span>
						</span>
					</td>					
				</tr>
			</table>
		</div>
		<span class="point">*为必填字段</span><br/>
		<input type="submit" value="提交" class="btn btn-info"/>
	</form>

	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/process.js"></script>
	<script type="text/javascript">
		var max=0;
		var jegs=0;
		var num=0;
		var idCard=0;
		var phone=0;
		var sprytextfield1 = new Spry.Widget.ValidationTextField("name", "none");
		var sprytextfield1 = new Spry.Widget.ValidationTextField("amount", "none");
		var sprytextfield1 = new Spry.Widget.ValidationTextField("type_brand", "none");
		//var sprytextfield1 = new Spry.Widget.ValidationTextField("yzgzsj", "none");
		//var sprytextfield1 = new Spry.Widget.ValidationTextField("yzscrq", "none");
		//var sprytextfield1 = new Spry.Widget.ValidationTextField("total_price", "none");
		var sprytextfield1 = new Spry.Widget.ValidationTextField("outward", "none");
		function zjz(){
			var sum=0;
			var a=$("input[name=type_brand]").val();
			var b=$("input[name=amount]").val();
			if(a==""){a=0;}
			else{a=parseInt(a);}
			if(b==""){b=0;}
			else{b=parseInt(b);}
			sum=a*b;
			$("input[name=total_price]").val(sum);
			$("input[name=total_price]").click();
		}
		function zjl(){
			var sum=0;
			var a=$("input[name=total_price]").val();
			var b=$("input[name=outward]").val();
			if(a==""){a=0;}
			else{a=parseInt(a);}
			if(b==""){b=0;}
			else{b=parseInt(b)/100;}
			sum=a*b;
			$("input[name=price]").val(sum);
			$("input[name=price]").click();
		}
	</script>
</body>
</html>
