<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../../static/css/bootstrap.css" rel="stylesheet">
	<link href="../../../static/css/main.css" rel="stylesheet">
	<link href="../../../static/css/datepicker.css" rel="stylesheet">
	<style type="text/css">	
		textarea{width:80%;}
	</style>	
</head>

<body onload="datepicker()">	
	<form class="content" method="post" action="/Process/dhgl/new_bz_save">			
		<div class="row-fluid">
			<div class="well place">			
				<i class="icon-home"></i><a href="#">流程管理</a>/<a href="#">贷后管理</a>
			</div>	
			<i class="icon-bookmark"></i><span class="titletip">标准检测</span>
			<div class="divBorder">				
				<table class="table-list">		
					<tr>

						<td class="table-label">借款人</td>
						<td><input type="text" name="" value="{{checkForm.jkr}}" readonly="true"/></td>
						<td class="table-label">客户经理</td>	
						<td><input type="text" name="" value="{{checkForm.khjl}}" readonly="true"/></td>
					</tr>			
					<tr>
						<td class="table-label">客户号</td>
						<td><input type="text" name="" value="{{checkForm.khId}}" readonly="true"/></td>
						<td class="table-label">合同号</td>
						<td><input type="text" name="" value="{{checkForm.hkId}}" readonly="true"/></td>
					</tr>		
					<tr>
						<td class="table-label">贷款金额</td>
						<td><input type="text" name="" value="{{checkForm.dkje}}" readonly="true"/></td>
						<td class="table-label">借据号</td>
						<td><input type="text" name="" value="{{checkForm.jjId}}" readonly="true"/></td>
					</tr>	
					<tr>
						<td class="table-label">放款日</td>
						<td><input type="text" value="{{checkForm.fkDate}}" readonly="true"/></td>
						<td class="table-label">到期日</td>
						<td><input type="text"  value="{{checkForm.dqDate}}" readonly="true"/></td>
					</tr>
					<tr>
						<td class="table-label">利率</td>
						<td><input type="text" name="" value="{{checkForm.lv}}" readonly="true"/>%</td>
						<td class="table-label">还贷期数</td>
						<td><input type="text" name="" value="{{checkForm.hkqs}}" readonly="true"/>月</td>			
					</tr>
				</table>
			</div>
			<!--*****************************************检测记录**************************************************-->
			<i class="icon-bookmark"></i><span class="titletip">检测记录</span>
			<input type="button" value="+" onclick="addTd('jcjl','content_frame')" class="btn btn-info btn-mini" style="padding:0 7px;margin-top:0px;"/>
			<input type="button" value="-" onclick="removeTd('jcjl','content_frame')" class="btn btn-info btn-mini" style="padding:0 9px;margin-top:0px;"/>
			<div class="divBorder">
				<table id="jcjl" class="table-list">
					<tr>					
						<th>日期</th>
						<th>监控方式</th>							
						<th>监控内容</th>
						<th>备注</th>								
					</tr>
					{%- for obj in monitorList %}
					<tr>				
						<th><input type="text" name="monitor_date" class="tbInput" value="{{obj.monitor_date}}" readonly="true"/></th>
						<th><input type="text" name="monitor_type" class="tbInput" value="{{obj.monitor_type}}" readonly="true"/></th>
						<th><input type="text" name="monitor_content" class="tbInput" value="{{obj.monitor_content}}" readonly="true"/></th>	
						<th><input type="text" name="monitor_remark" class="tbInput" value="{{obj.monitor_remark}}" readonly="true"/></th>			
					</tr>
					{%- endfor %}
				</table>
			</div>
			<input type="submit" class="btn btn-info" value="提交"/>
		</div><!--/row-fluid -->
		<input name="hiddenId" type="hidden" value="{{loan_apply_id}}"/>
	</form><!--/content -->
	
	<script src="../../../static/js/jquery-1.7.2.min.js"></script>
	<script src="../../../static/js/bootstrap.min.js"></script>
	<script src="../../../static/js/bootstrap-datepicker.js"></script>
	<script src="../../../static/js/script.js"></script>
	<script src="../../../static/js/process.js"></script>
	<script type="text/javascript">
		var max=0;
		var jegs=0;
		var num=0;
		var idCard=0;
		var phone=0;
		
	</script>
</body>
</html>
