<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../../static/css/bootstrap.css" rel="stylesheet">
	<link href="../../../static/css/main.css" rel="stylesheet">
	<link href="../../../static/css/datepicker.css" rel="stylesheet">
	<style type="text/css">	
		textarea{width:80%;}
	</style>	
</head>

<body onload="datepicker()">	
	<form class="content" method="post" action="/Process/dhgl/new_bz_save">			
		<div class="row-fluid">
			<div class="well place">			
				<i class="icon-home"></i><a href="#">流程管理</a>/<a href="#">贷后管理</a>
			</div>	
			<i class="icon-bookmark"></i><span class="titletip">标准检测</span>
			<div class="divBorder">				
				<table class="table-list">		
					<tr>
						<td class="table-label">借款人<font class="red">*</font></td>
						<!-- {%- if loan_apply.company_customer_name==''%} -->
						<td><input type="text" name=""/></td>
						<!-- {%- else %} -->
						<!-- <td><input type="text" name=""/>{{loan_apply.company_customer_name}}</td>
						{%- endif %} -->
						<td class="table-label">客户经理<font class="red">*</font></td>	
						<td><input type="text" name=""/></td>
					</tr>			
					<tr>
						<td class="table-label">客户号<font class="red">*</font></td>
						<td><input type="text" name=""/></td>
						<td class="table-label">合同号<font class="red">*</font></td>
						<td><input type="text" name=""/></td>
					</tr>		
					<tr>
						<td class="table-label">贷款金额<font class="red">*</font></td>
						<td><input type="text" name=""/></td>
						<td class="table-label">借据号<font class="red">*</font></td>
						<td><input type="text" name=""/></td>
					</tr>	
					<tr>
						<td class="table-label">放款日<font class="red">*</font></td>
						<td><input type="text" id="create_date" name="create_date" class="datepicker"/></td>
						<td class="table-label">到期日<font class="red">*</font></td>
						<td><input type="text" id="" class="datepicker"/></td>
					</tr>
					<tr>
						<td class="table-label">利率<font class="red">*</font></td>
						<td><input type="text" name=""/>%</td>
						<td class="table-label">还贷期数<font class="red">*</font></td>
						<td>
							<select name="">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
								<option value="24">24</option>
							</select>
						</td>						
					</tr>	
					<tr>
						<td class="table-label">还款方式</td>
						<td colspan="3">
							<select name="">
								<option>等额本息</option>
								<option>等额本金</option>
								<option>不规则还款</option>
							</select>
						</td>				
					</tr>
				</table>
			</div>
			<!--*****************************************检测记录**************************************************-->
			<i class="icon-bookmark"></i><span class="titletip">检测记录</span>
			<input type="button" value="+" onclick="addTd('jcjl','dksq_info')" class="btn btn-info btn-mini" style="padding:0 7px;margin-top:0px;"/>
			<input type="button" value="-" onclick="removeTd('jcjl','dksq_info')" class="btn btn-info btn-mini" style="padding:0 9px;margin-top:0px;"/>
			<div class="divBorder">
				<table id="jcjl" class="table-list">
					<tr>	
						<th>序号</th>					
						<th>日期</th>
						<th>监控方式</th>							
						<th>监控内容</th>
						<th>备注</th>								
					</tr>
					{%- for obj in monitorList %}
					<tr>	
						<th>序号</th>					
						<th><input type="text" name="monitor_date" class="tbInput" value="{{obj.monitor_date}}" readonly="true"/></th>
						<th><input type="text" name="monitor_type" class="tbInput" value="{{obj.monitor_type}}" readonly="true"/></th>
						<th><input type="text" name="monitor_content" class="tbInput" value="{{obj.monitor_content}}" readonly="true"/></th>	
						<th><input type="text" name="monitor_remark" class="tbInput" value="{{obj.monitor_remark}}" readonly="true"/></th>			
					</tr>
					{%- endfor %}
				</table>
			</div>
			<span class="point">*为必填字段</span><br/>
			<input type="submit" class="btn btn-info" value="提交"/>
			<input type="button" class="btn btn-info" value="返回" onclick="iframe('Process/dhgl/edit_dhgl')"/>
		</div><!--/row-fluid -->
		<input name="hiddenId" type="hidden" value="{{loan_apply_id}}"></input>
	</form><!--/content -->
	
	<script src="../../../static/js/jquery-1.7.2.min.js"></script>
	<script src="../../../static/js/bootstrap.min.js"></script>
	<script src="../../../static/js/bootstrap-datepicker.js"></script>
	<script src="../../../static/js/script.js"></script>
	<script src="../../../static/js/process.js"></script>
	<script type="text/javascript">
		var max=0;
		var jegs=0;
		var num=0;
		var idCard=0;
		var phone=0;
		
	</script>
</body>
</html>
