<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/datepicker.css" rel="stylesheet">
	<style type="text/css">
		.table-list input[type="button"]{width:60px;padding:2px 0;}
		.inline td{border-top:none;}
		input[type="text"]{width:80px;}
		textarea{width:80%;}
	</style>
</head>

<body onload="datepicker()">	
	<form class="content" action="/Performance/ygpgkh/ktpxpg/{{user.id}}" method="POST">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">绩效管理</a>/<a href="#">培训期评估</a>
		</div>	
		<div class="row-fluid">
			<i class="icon-bookmark"></i><span class="titletip">课堂培训评估</span>
			<div class="divBorder">	
				<table class="table-list" >				
					<tr>
						<td class="table-label">姓名</td>
						<td>{{user.real_name}}</td>
						<td class="table-label">评估时间</td>
						<td><input type="text" name="train_date" value="{{kpi_train.train_date}}" class="datepicker" data-date-format="yyyy-mm-dd" readonly/></td>
					</tr>	
					<tr>
						<td class="table-label">岗位倾向</td>
						<td><input type="text" name="job_tendency" value="{{kpi_train.job_tendency}}" /></td>
						<td class="table-label">课堂培训学时</td>
						<td><input type="text" name="class_hour" value="{{kpi_train.class_hour}}" /></td>
					</tr>							
				</table>
				<table class="table-list inline" >	
					<tr>
						<td class="table-label center" colspan="10"><b>指标评估</b></td>
					</tr>			
					<tr class="center">
						<td class="table-label" rowspan="2">出勤情况</td>
						<td class="table-label">综合评价</td>
						<td class="table-label">评分</td>
						<td class="table-label">分值比例</td>
						<td class="table-label">得分</td>
						<td class="table-label" rowspan="2">课堂纪律</td>
						<td class="table-label">综合评价</td>
						<td class="table-label">评分</td>
						<td class="table-label">分值比例</td>
						<td class="table-label">得分</td>
					</tr>	
					<tr class="center">
						<td></td>
						<td><input type="text" name="cqqk_1" value="{{kpi_train.cqqk_1}}" onchange="defen(this,'0.05','cqqk_2');sum()"/></td>
						<td>5%</td>
						<td><input type="text" name="cqqk_2" value="{{kpi_train.cqqk_2}}" readonly/></td>
						<td></td>
						<td><input type="text" name="ktjl_1" value="{{kpi_train.ktjl_1}}" onchange="defen(this,'0.05','ktjl_2');sum()" /></td>
						<td>5%</td>
						<td><input type="text" name="ktjl_2" value="{{kpi_train.ktjl_2}}" readonly/></td>
					</tr>	
					<tr class="center">
						<td class="table-label" rowspan="2">课堂发言</td>
						<td class="table-label">综合评价</td>
						<td class="table-label">评分</td>
						<td class="table-label">分值比例</td>
						<td class="table-label">得分</td>
						<td class="table-label" rowspan="2">课堂测试</td>
						<td class="table-label">综合评价</td>
						<td class="table-label">评分</td>
						<td class="table-label">分值比例</td>
						<td class="table-label">得分</td>
					</tr>	
					<tr class="center">
						<td></td>
						<td><input type="text" name="ktfy_1" value="{{kpi_train.ktfy_1}}" onchange="defen(this,'0.05','ktfy_2');sum();" /></td>
						<td>5%</td>
						<td><input type="text" name="ktfy_2" value="{{kpi_train.ktfy_2}}" readonly/></td>
						<td></td>
						<td><input type="text" name="ktcs_1" value="{{kpi_train.ktcs_1}}" onchange="defen(this,'0.1','ktcs_2');sum()"/></td>
						<td>10%</td>
						<td><input type="text" name="ktcs_2" value="{{kpi_train.ktcs_2}}" readonly /></td>
					</tr>
					<tr class="center">
						<td class="table-label" rowspan="2">模拟表现</td>
						<td class="table-label">综合评价</td>
						<td class="table-label">评分</td>
						<td class="table-label">分值比例</td>
						<td class="table-label">得分</td>
						<td class="table-label" rowspan="2">专题表现</td>
						<td class="table-label">综合评价</td>
						<td class="table-label">评分</td>
						<td class="table-label">分值比例</td>
						<td class="table-label">得分</td>
					</tr>	
					<tr class="center">
						<td></td>
						<td><input type="text" name="mnbx_1" value="{{kpi_train.mnbx_1}}" onchange="defen(this,'0.1','mnbx_2');sum()"/></td>
						<td>10%</td>
						<td><input type="text" name="mnbx_2" value="{{kpi_train.mnbx_2}}" readonly/></td>
						<td></td>
						<td><input type="text" name="ztbx_1" value="{{kpi_train.ztbx_1}}" onchange="defen(this,'0.1','ztbx_2');sum()" /></td>
						<td>10%</td>
						<td><input type="text" name="ztbx_2" value="{{kpi_train.ztbx_2}}" readonly/></td>
					</tr>
					<tr class="center">
						<td class="table-label" rowspan="2">技术知识</td>
						<td class="table-label">综合评价</td>
						<td class="table-label">评分</td>
						<td class="table-label">分值比例</td>
						<td class="table-label">得分</td>
						<td class="table-label" rowspan="2">团队协作</td>
						<td class="table-label">综合评价</td>
						<td class="table-label">评分</td>
						<td class="table-label">分值比例</td>
						<td class="table-label">得分</td>
					</tr>	
					<tr class="center">
						<td></td>
						<td><input type="text" name="jszs_1" value="{{kpi_train.jszs_1}}" onchange="defen(this,'0.05','jszs_2');sum()"/></td>
						<td>5%</td>
						<td><input type="text" name="jszs_2" value="{{kpi_train.jszs_2}}" readonly/></td>
						<td></td>
						<td><input type="text" name="tdxz_1" value="{{kpi_train.tdxz_1}}" onchange="defen(this,'0.05','tdxz_2');sum()"/></td>
						<td>5%</td>
						<td><input type="text" name="tdxz_2" value="{{kpi_train.tdxz_2}}" readonly/></td>
					</tr>
					<tr class="center">
						<td class="table-label" rowspan="2">沟通协调</td>
						<td class="table-label">综合评价</td>
						<td class="table-label">评分</td>
						<td class="table-label">分值比例</td>
						<td class="table-label">得分</td>
						<td class="table-label" rowspan="2">结业考试</td>
						<td class="table-label">综合评价</td>
						<td class="table-label">评分</td>
						<td class="table-label">分值比例</td>
						<td class="table-label">得分</td>
					</tr>	
					<tr class="center">
						<td></td>
						<td><input type="text" name="xtgt_1" value="{{kpi_train.xtgt_1}}" onchange="defen(this,'0.05','xtgt_2');sum()" /></td>
						<td>5%</td>
						<td><input type="text" name="xtgt_2" value="{{kpi_train.xtgt_2}}" readonly/></td>
						<td></td>
						<td><input type="text" name="jyks_1" value="{{kpi_train.jyks_1}}" onchange="defen(this,'0.4','jyks_2');sum()" /></td>
						<td>40%</td>
						<td><input type="text" name="jyks_2" value="{{kpi_train.jyks_2}}" readonly/></td>
					</tr>	
					<tr>
						<td class="table-label center"><b>综合得分</b></td>
						<td colspan="4"><input type="text" name="total" value="{{kpi_train.total}}" readonly/></td>
						<td class="table-label center"><b>评估结果</b></td>
						<td colspan="4">
							<!-- &nbsp;&nbsp;&nbsp;<span name="result"><b>{{kpi_train.result}}</b></span> -->
							<select name="result" readonly>
								{%- if kpi_train.result == 4 %}
								<option value="4" selected>不合格</option>
								{%- else %}
								<option value="4">不合格</option>
								{%- endif %}
								{%- if kpi_train.result == 3 %}
								<option value="3" selected>合格</option>
								{%- else %}
								<option value="3">合格</option>
								{%- endif %}
								{%- if kpi_train.result == 2 %}
								<option value="2" selected>良好</option>
								{%- else %}
								<option value="2">良好</option>
								{%- endif %}
								{%- if kpi_train.result == 1 %}
								<option value="1" selected>优秀</option>
								{%- else %}
								<option value="1">优秀</option>
								{%- endif %}
							</select>
						</td>
					</tr>
					<tr>
						<td class="table-label center" colspan="10"><b>综合表现</b></td>
					</tr>
					<tr>
						<td class="table-label center"><b>综合表现</b></td>
						<td colspan="4">
							<textarea name="performance">{{kpi_train.performance}}</textarea>
						</td>
						<td class="table-label center"><b>重点关注</b></td>
						<td colspan="4">
							<textarea name="focus_on">{{kpi_train.focus_on}}</textarea>
						</td>
					</tr>		
					<tr>
						<td class="table-label center"><b>下期工作指标</b></td>
						<td colspan="4">
							<textarea name="next_work_target">{{kpi_train.next_work_target}}</textarea>
						</td>
						<td class="table-label center"><b>个人期望</b></td>
						<td colspan="4">
							<textarea name="individual_expectations">{{kpi_train.individual_expectations}}</textarea>
						</td>
					</tr>		
				</table>
			</div>
			<input type="submit" class="btn btn-info" value="提交"/>		
		</div><!--/row-fluid -->
	</form><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript">
		function defen(obj,bl,name){
			var sum=parseFloat($(obj).val())*bl;
			$("input[name="+name+"]").val(sum);

		}
		function sum(){
			var sum=0;
			var a1=parseFloat($("input[name=cqqk_2]").val());
			var a2=parseFloat($("input[name=ktjl_2]").val());
			var a3=parseFloat($("input[name=ktfy_2]").val());
			var a4=parseFloat($("input[name=ktcs_2]").val());
			var a5=parseFloat($("input[name=mnbx_2]").val());
			var a6=parseFloat($("input[name=ztbx_2]").val());
			var a7=parseFloat($("input[name=jszs_2]").val());
			var a8=parseFloat($("input[name=tdxz_2]").val());
			var a9=parseFloat($("input[name=xtgt_2]").val());
			var a10=parseFloat($("input[name=jyks_2]").val());
			sum=a1+a2+a3+a4+a5+a6+a7+a8+a9+a10
			$("input[name=total]").val(sum)//总分
			if(sum>=90){//优秀
				$("select[name=result]").html('<option value="4">不合格</option><option value="3">合格</option><option value="2">良好</option><option value="1" selected>优秀</option>')
			}
			else if(sum>=80&&sum<90){//良好
				$("select[name=result]").html('<option value="4">不合格</option><option value="3">合格</option><option value="2" selected>良好</option><option value="1">优秀</option>')
			}
			else if(sum>=60&&sum<80){//合格
				$("select[name=result]").html('<option value="4">不合格</option><option value="3" selected>合格</option><option value="2">良好</option><option value="1">优秀</option>')
			}
			else{//不合格
				$("select[name=result]").html('<option value="4" selected>不合格</option><option value="3">合格</option><option value="2">良好</option><option value="1">优秀</option>')
			}
		}
	</script>
</body>
</html>
