<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/datepicker.css" rel="stylesheet">
	<style type="text/css">		
		.table-list input[type="button"]{width:60px;padding:2px 0;}
	</style>
</head>

<body onload="datepicker();setTimeOut();">
	<div class="content">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">绩效管理</a>/<a href="#">培训期评估</a>
		</div>	
		{%- with messages = get_flashed_messages(with_categories=true) %}
		  	{%- if messages %}
	    	{%- for category, message in messages %}
	    	<div class="alert alert-{{category}}" style="width:99%;margin:-10px auto 10px;">
	      		{{message}}
	      	</div>
	    	{%- endfor %}
		  	{%- endif %}
		{%- endwith %}
		<div class="row-fluid">
			<i class="icon-bookmark"></i><span class="titletip">培训期评估列表</span>
			<div style="border:1px solid #94c1dc;">				
				<table class="table-list" cellspacing="10" id="uesr-list">				
					<tr>	
						<th>员工姓名</th>
						<th>课堂培训评估</th>
						<th>实际操作评估（一）</th>
						<th>实际操作评估（二）</th>
						<th>实际操作评估（三）</th>
						<th>最终评估</th>	
					</tr>					
					<tbody class="center">
					{%- for obj in kpi_train_final %}
						<tr class="tbData" onclick="changeColor(this)">
							<!-- <td><a href="#" onclick="iframe('Performance/pxqpg')">001</a></td>	 -->				
							<td>{{obj.real_name}}</td>

							{%- if obj.score_1 %}
								{%- if obj.score_1|int < 60 %}
									<td><input type="button" class="btn btn-danger" name="" value="不合格" onclick="iframe('Performance/ygpgkh/ktpxpg/{{obj.user_id}}')"/></td>
								{%- elif obj.score_1|int >= 60 and obj.score_1|int < 80 %}
									<td><input type="button" class="btn btn-success" name="" value="合格" onclick="iframe('Performance/ygpgkh/ktpxpg/{{obj.user_id}}')"/></td>
								{%- elif obj.score_1|int >= 80 and obj.score_1|int < 90 %}
									<td><input type="button" class="btn btn-success" name="" value="良好" onclick="iframe('Performance/ygpgkh/ktpxpg/{{obj.user_id}}')"/></td>
								{%- elif obj.score_1|int >= 90 and obj.score_1|int <= 100 %}
									<td><input type="button" class="btn btn-success" name="" value="优秀" onclick="iframe('Performance/ygpgkh/ktpxpg/{{obj.user_id}}')"/></td>
								{%- endif %}
							{%- else %}
								<td><input type="button" class="btn btn-warning" name="" value="未评估" onclick="iframe('Performance/ygpgkh/ktpxpg/{{obj.user_id}}')"/></td>
							{%- endif %}

							{%- if obj.score_2 %}
								{%- if obj.score_2|int < 60 %}
									<td><input type="button" class="btn btn-danger" name="" value="不合格" onclick="iframe('Performance/ygpgkh/sjczpg/1/{{obj.user_id}}')"/></td>
								{%- elif obj.score_2|int >= 60 and obj.score_2|int < 80 %}
									<td><input type="button" class="btn btn-success" name="" value="合格" onclick="iframe('Performance/ygpgkh/sjczpg/1/{{obj.user_id}}')"/></td>
								{%- elif obj.score_2|int >= 80 and obj.score_2|int < 90 %}
									<td><input type="button" class="btn btn-success" name="" value="良好" onclick="iframe('Performance/ygpgkh/sjczpg/1/{{obj.user_id}}')"/></td>
								{%- elif obj.score_2|int >= 90 and obj.score_2|int <= 100 %}
									<td><input type="button" class="btn btn-success" name="" value="优秀" onclick="iframe('Performance/ygpgkh/sjczpg/1/{{obj.user_id}}')"/></td>
								{%- endif %}
							{%- else %}
								<td><input type="button" class="btn btn-warning" name="" value="未评估" onclick="iframe('Performance/ygpgkh/sjczpg/1/{{obj.user_id}}')"/></td>
							{%- endif %}

							{%- if obj.score_3 %}
								{%- if obj.score_3|int < 60 %}
									<td><input type="button" class="btn btn-danger" name="" value="不合格" onclick="iframe('Performance/ygpgkh/sjczpg/2/{{obj.user_id}}')"/></td>
								{%- elif obj.score_3|int >= 60 and obj.score_3|int < 80 %}
									<td><input type="button" class="btn btn-success" name="" value="合格" onclick="iframe('Performance/ygpgkh/sjczpg/2/{{obj.user_id}}')"/></td>
								{%- elif obj.score_3|int >= 80 and obj.score_3|int < 90 %}
									<td><input type="button" class="btn btn-success" name="" value="良好" onclick="iframe('Performance/ygpgkh/sjczpg/2/{{obj.user_id}}')"/></td>
								{%- elif obj.score_3|int >= 90 and obj.score_3|int <= 100 %}
									<td><input type="button" class="btn btn-success" name="" value="优秀" onclick="iframe('Performance/ygpgkh/sjczpg/2/{{obj.user_id}}')"/></td>
								{%- endif %}
							{%- else %}
								<td><input type="button" class="btn btn-warning" name="" value="未评估" onclick="iframe('Performance/ygpgkh/sjczpg/2/{{obj.user_id}}')"/></td>
							{%- endif %}

							{%- if obj.score_4 %}
								{%- if obj.score_4|int < 60 %}
									<td><input type="button" class="btn btn-danger" name="" value="不合格" onclick="iframe('Performance/ygpgkh/sjczpg/3/{{obj.user_id}}')"/></td>
								{%- elif obj.score_4|int >= 60 and obj.score_4|int < 80 %}
									<td><input type="button" class="btn btn-success" name="" value="合格" onclick="iframe('Performance/ygpgkh/sjczpg/3/{{obj.user_id}}')"/></td>
								{%- elif obj.score_4|int >= 80 and obj.score_4|int < 90 %}
									<td><input type="button" class="btn btn-success" name="" value="良好" onclick="iframe('Performance/ygpgkh/sjczpg/3/{{obj.user_id}}')"/></td>
								{%- elif obj.score_4|int >= 90 and obj.score_4|int <= 100 %}
									<td><input type="button" class="btn btn-success" name="" value="优秀" onclick="iframe('Performance/ygpgkh/sjczpg/3/{{obj.user_id}}')"/></td>
								{%- endif %}
							{%- else %}
								<td><input type="button" class="btn btn-warning" name="" value="未评估" onclick="iframe('Performance/ygpgkh/sjczpg/3/{{obj.user_id}}')"/></td>
							{%- endif %}

							{%- if obj.avg_score %}
								{%- if obj.avg_score|int < 60 %}
									<td><input type="button" class="btn btn-danger" name="" value="不合格" onclick="iframe('Performance/ygpgkh/zzpg/{{obj.user_id}}')"/></td>
								{%- elif obj.avg_score|int >= 60 and obj.avg_score|int < 80 %}
									<td><input type="button" class="btn btn-success" name="" value="合格" onclick="iframe('Performance/ygpgkh/zzpg/{{obj.user_id}}')"/></td>
								{%- elif obj.avg_score|int >= 80 and obj.avg_score|int < 90 %}
									<td><input type="button" class="btn btn-success" name="" value="良好" onclick="iframe('Performance/ygpgkh/zzpg/{{obj.user_id}}')"/></td>
								{%- elif obj.avg_score|int >= 90 and obj.avg_score|int <= 100 %}
									<td><input type="button" class="btn btn-success" name="" value="优秀" onclick="iframe('Performance/ygpgkh/zzpg/{{obj.user_id}}')"/></td>
								{%- endif %}
							{%- else %}
								<td><input type="button" class="btn btn-warning" name="" value="未评估" onclick="iframe('Performance/ygpgkh/zzpg/{{obj.user_id}}')"/></td>
							{%- endif %}
						</tr>
					{%- endfor %}
					</tbody>									
				</table>
			</div>
		</div><!--/row-fluid -->
	</div><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
</body>
</html>
