<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/datepicker.css" rel="stylesheet">
</head>

<body onload="datepicker();setTimeOut();">
	<div class="content">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">绩效管理</a>/<a href="#">在岗评估</a>
		</div>		
		{%- with messages = get_flashed_messages(with_categories=true) %}
		  	{%- if messages %}
	    	{%- for category, message in messages %}
	    	<div class="alert alert-{{category}}" style="width:99%;margin:-10px auto 10px;">
	      		{{message}}
	      	</div>
	    	{%- endfor %}
		  	{%- endif %}
		{%- endwith %}
		<div class="row-fluid">
			<i class="icon-bookmark"></i><span class="titletip">在岗评估搜索</span>
			<form action="/Performance/ygpgkh/zgpglist" method="POST">
				<div style="border:1px solid #94c1dc;">
					<table class="table-list">
						<tr>
							<td class="table-label">起始时间</td>
							<td><input type="text" name="" class="datepicker" data-date-format="yyyy-mm-dd" readonly/></td>
							<td class="table-label">截至时间</td>
							<td><input type="text" name="" class="datepicker" data-date-format="yyyy-mm-dd" readonly/></td>
						</tr>	
						<tr>
							<td class="table-label">员工姓名</td>
							<td><input type="text" name=""/></td>
							<td class="table-label">评估类型</td>
							<td>
								<select name="tablename"/>
								<option value="SC_Kpi_Officer">客户经理KPI</option>
								<option value="SC_Kpi_Yunying">运营岗KPI</option>
								</select>
							</td>
						</tr>						
					</table>
				</div>
				<input type="submit" class="btn btn-info" value="搜索"/>								
			</form>
		</div><!--/row-fluid -->
	</div><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
</body>
</html>
