<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/datepicker.css" rel="stylesheet">
	<style type="text/css">		
		.table-list input[type="button"]{width:60px;padding:2px 0;}
	</style>
</head>

<body onload="datepicker()">	
	<div class="content">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">绩效管理</a>/<a href="#">在岗评估</a>
		</div>	
		<div class="row-fluid">
			<i class="icon-bookmark"></i><span class="titletip">在岗评估列表</span>
			<div style="border:1px solid #94c1dc;">				
				<table class="table-list" cellspacing="10" id="uesr-list">				
					<tr>	
						<th>员工姓名</th>
						<th>评估月份</th>
						<th>评估类型</th>
						<th>评估状态</th>
					</tr>					
					<tbody class="center">
					{%- for obj in kpi %}
						<tr class="tbData" onclick="changeColor(this)">
							
							{%- if tablename == 'SC_Kpi_Officer' %}
								<td>{{obj.user_id_fk.real_name}}</td>
								<td>{{obj.assess_date}}</td>
								<td>客户经理KPI</td>
								{%- if obj.total %}
									{%- if obj.total|int < 60 %}
										<td><input type="button" class="btn btn-danger" name="" value="不合格" onclick="iframe('Performance/ygpgkh/khjlKPI/{{obj.id}}')"/></td>
									{%- elif obj.total|int >= 60 and obj.total|int < 80 %}
										<td><input type="button" class="btn btn-success" name="" value="合格" onclick="iframe('Performance/ygpgkh/khjlKPI/{{obj.id}}')"/></td>
									{%- elif obj.total|int >= 80 and obj.total|int < 90 %}
										<td><input type="button" class="btn btn-success" name="" value="良好" onclick="iframe('Performance/ygpgkh/khjlKPI/{{obj.id}}')"/></td>
									{%- elif obj.total|int >= 90 and obj.total|int <= 100 %}
										<td><input type="button" class="btn btn-success" name="" value="优秀" onclick="iframe('Performance/ygpgkh/khjlKPI/{{obj.id}}')"/></td>
									{%- endif %}
								{%- else %}
									<td><input type="button" class="btn btn-warning" name="" value="未评估" onclick="iframe('Performance/ygpgkh/khjlKPI/{{obj.id}}')"/></td>
								{%- endif %}
							{%- else %}
								<td>{{obj.sc_kpi_yunying_ibfk_1.real_name}}</td>
								<td>{{obj.assess_date}}</td>
								<td>后台岗KPI</td>
								{%- if obj.total %}
									{%- if obj.total|int < 60 %}
										<td><input type="button" class="btn btn-danger" name="" value="不合格" onclick="iframe('Performance/ygpgkh/htgKPI/{{obj.id}}')"/></td>
									{%- elif obj.total|int >= 60 and obj.total|int < 80 %}
										<td><input type="button" class="btn btn-success" name="" value="合格" onclick="iframe('Performance/ygpgkh/htgKPI/{{obj.id}}')"/></td>
									{%- elif obj.total|int >= 80 and obj.total|int < 90 %}
										<td><input type="button" class="btn btn-success" name="" value="良好" onclick="iframe('Performance/ygpgkh/htgKPI/{{obj.id}}')"/></td>
									{%- elif obj.total|int >= 90 and obj.total|int <= 100 %}
										<td><input type="button" class="btn btn-success" name="" value="优秀" onclick="iframe('Performance/ygpgkh/htgKPI/{{obj.id}}')"/></td>
									{%- endif %}
								{%- else %}
									<td><input type="button" class="btn btn-warning" name="" value="未评估" onclick="iframe('Performance/ygpgkh/htgKPI/{{obj.id}}')"/></td>
								{%- endif %}
							{%- endif %}
							
						</tr>
					{%- endfor %}
					</tbody>									
				</table>
			</div>
			<div class="page-div">
				<span style="CURSOR: pointer">&lt;&lt;</span>				
				&#160;第&#160;<font color="#0088cc">1</font>&#160;页&#160;
				&#160;共&#160;<font color="#0088cc">1</font>&#160;页&#160;				
				<span style="CURSOR: pointer">&gt;&gt;</span>
			</div>
		</div><!--/row-fluid -->
	</div><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
</body>
</html>
