<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
		
</head>

<body onload="setTimeOut();">	
	<form id="content" method="POST" class="content">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">数据导入</a>/<a href="#">导入本地数据</a>
			<input type="hidden" name="customer_name">
			<input type="hidden" name="loan_type" value="{{loan_type}}"> 
		</div>	
		{%- with messages = get_flashed_messages(with_categories=true) %}
		  	{%- if messages %}
	    	{%- for category, message in messages %}
	    	<div class="alert alert-{{category}}">
	      		{{message}}
	      	</div>
	    	{%- endfor %}
		  	{%- endif %}
		{%- endwith %}
		<div class="row-fluid">
			<i class="icon-bookmark"></i><span class="titletip">贷款列表</span>
			<div style="margin-bottom:5px;">
				<input type="button" value="导入数据" class="btn btn-info" onclick="iframe('Data/drbdsj_import')" />	
			</div>
			<div style="border:1px solid #94c1dc;">				
				<table class="table-list" cellspacing="10" id="uesr-list">
					<thead>
						<tr>			
							<th>编号</th>		
							<th>客户名称</th>	
						</tr>
					</thead>
					<tbody class="center">
					{%- if customers %}
						{% for obj in customers %}
						<tr>
							<td>{{obj[0]}}</td>
							<td><script type="text/javascript">
							var temp = '{{obj[2]}}';
							document.write(unescape(temp));
							</script></td></tr>
						{%- endfor %}
					{%- endif %}										
					</tbody>
				</table>
			</div>
		</div><!--/row-fluid -->
	</form><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
</body>
</html>
