<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<!-- ************************验证样式************************-->
	<script src="/static/SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
	<link href="/static/SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css">	
</head>

<body onload="$('input[name=loan_amount]').click();">	
	<div class="content">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">流程管理</a>/<a href="#">来访登记</a>
		</div>	
		<div class="row-fluid">
			<form class="content" method="POST" action="/Information/lfdj/edit_lfdj/{{target_customer.id}}">	
				<div style="border:1px solid #94c1dc;margin-bottom:5px;">
					<table class="table-list">
						<tr>							
							<td class="table-label">接待方式<font class="red">*</font></td>
							<td>
								<select name="reception_type" onchange="show_table(this.value)">
									{%- if target_customer.reception_type == '1' %}
										<option value="1" selected>咨询</option>
										<option value="2">扫街</option>
									{%- else %}
										<option value="1">咨询</option>
										<option value="2" selected>扫街</option>
									{%- endif %}
								</select>
							</td>		
						</tr>	
					</table>
				</div>

				<i class="icon-bookmark"></i><span class="titletip">基本状态</span>
				<div style="border:1px solid #94c1dc;">
					<table class="table-list">				
						<tr>
							<td class="table-label">营销状态</td>
							<td>
								{%- if target_customer.yingxiao_status == 1 %}
								<label><input type="radio" name="yingxiao_status" value="1" onclick="set(this.value)" checked />已营销</label>
								<label><input type="radio" name="yingxiao_status" value="0" onclick="set(this.value)"/>未营销</label>
								{%- else %}
								<label><input type="radio" name="yingxiao_status" value="1" onclick="set(this.value)"/>已营销</label>
								<label><input type="radio" name="yingxiao_status" value="0" onclick="set(this.value)" checked />未营销</label>
								{%- endif %}
							</td>
							<td class="table-label">客户状态</td>
							<td>
								<select name="client_status" style="width:300px;">
									{%- if target_customer.client_status == 12 %}
									<option value="12" selected>老板不在员工不提供有效信息</option>
									{%- else %}
									<option value="12">老板不在员工不提供有效信息</option>
									{%- endif %}
									{%- if target_customer.client_status == 13 %}
									<option value="13" selected>店铺关门或转让中</option>
									{%- else %}
									<option value="13">店铺关门或转让中</option>
									{%- endif %}
									{%- if target_customer.client_status == 1 %}
									<option value="1" selected>现在有需求</option>
									{%- else %}
									<option value="1">现在有需求</option>
									{%- endif %}
									{%- if target_customer.client_status == 2 %}
									<option value="2" selected>态度良好无需求拒绝</option>
									{%- else %}
									<option value="2">态度良好无需求拒绝</option>
									{%- endif %}
									{%- if target_customer.client_status == 3 %}
									<option value="3" selected>态度恶劣拒绝</option>
									{%- else %}
									<option value="3">态度恶劣拒绝</option>
									{%- endif %}
									{%- if target_customer.client_status == 14 %}
									<option value="14" selected>有需求但有管户问题</option>
									{%- else %}
									<option value="14">有需求但有管户问题</option>
									{%- endif %}
									{%- if target_customer.client_status == 4 %}
									<option value="4" selected>以后会有需求并填回执</option>
									{%- else %}
									<option value="4">以后会有需求并填回执</option>
									{%- endif %}
									{%- if target_customer.client_status == 5 %}
									<option value="5" selected>以后有需求未填回执</option>
									{%- else %}
									<option value="5">以后有需求未填回执</option>
									{%- endif %}
									{%- if target_customer.client_status == 15 %}
									<option value="15" selected>有需求但认为利率高</option>
									{%- else %}
									<option value="15">有需求但认为利率高</option>
									{%- endif %}
									{%- if target_customer.client_status == 16 %}
									<option value="16" selected>现在有需求并填申请</option>
									{%- else %}
									<option value="16">现在有需求并填申请</option>
									{%- endif %}
									{%- if target_customer.client_status == 6 %}
									<option value="6" selected>有需求但不符要求-年龄不符合要求</option>
									{%- else %}
									<option value="6">有需求但不符要求-年龄不符合要求</option>
									{%- endif %}
									{%- if target_customer.client_status == 7 %}
									<option value="7" selected>有需求但不符要求-经营年限不足一年</option>
									{%- else %}
									<option value="7">有需求但不符要求-经营年限不足一年</option>
									{%- endif %}
									{%- if target_customer.client_status == 8 %}
									<option value="8" selected>有需求但不符要求-外地人在本地居住低于两年</option>
									{%- else %}
									<option value="8">有需求但不符要求-外地人在本地居住低于两年</option>
									{%- endif %}
									{%- if target_customer.client_status == 9 %}
									<option value="9" selected>有需求但不符要求-家属不同意</option>
									{%- else %}
									<option value="9">有需求但不符要求-家属不同意</option>
									{%- endif %}
									{%- if target_customer.client_status == 10 %}
									<option value="10" selected>有需求但不符要求-有不良嗜号</option>
									{%- else %}
									<option value="10">有需求但不符要求-有不良嗜号</option>
									{%- endif %}
									{%- if target_customer.client_status == 11 %}
									<option value="11" selected>有需求但不符要求-其他</option>
									{%- else %}
									<option value="11">有需求但不符要求-其他</option>
									{%- endif %}
								</select>
							</td>	
						</tr>		
						<tr>
							<td class="table-label">是否向小微支行填写申请表？</td>
							<td>
								{%- if target_customer.is_apply_form == '1' %}
								<label><input type="radio" name="is_apply_form" value="1" onclick="set(this.value)" checked />已申请</label>
								<label><input type="radio" name="is_apply_form" value="0" onclick="set(this.value)"/>未申请</label>
								{%- else %}
								<label><input type="radio" name="is_apply_form" value="1" onclick="set(this.value)"/>已申请</label>
								<label><input type="radio" name="is_apply_form" value="0" onclick="set(this.value)" checked />未申请</label>
								{%- endif %}
							</td>					
						</tr>
					</table>
				</div>
				<i class="icon-bookmark"></i><span class="titletip">基本信息</span>
				<div style="border:1px solid #94c1dc;">
					<table class="table-list">										
						<tr>	
							<td class="table-label">客户名称<font class="red">*</font></td>
							<td style="width:35%">
								<span id="customer_name">
									<input type="text" name="customer_name" value="{{target_customer.customer_name}}" onchange="spryMaxLength(this,16)"/>
									<span class="textfieldRequiredMsg">不能为空</span>
									<span class="errorInfo">字符数不得大于16</span>
								</span>
							</td>	
							<td class="table-label">电话/手机<font class="red">*</font></td>
							<td>
								<span id="mobile">
		    						<input type="text" name="mobile" value="{{target_customer.mobile}}" onKeyUp="value=value.replace(/\D/g,'')" maxlength="12"/>
		    						<span class="textfieldRequiredMsg">不能为空</span>
		  							<span class="textfieldInvalidFormatMsg">格式无效</span>
		  							<span class="textfieldMinCharsMsg">格式无效</span>
		  							<span class="textfieldMaxCharsMsg">格式无效</span>
		  						</span>	
							</td>
						</tr>					
						<tr>				
							<td class="table-label">性别<font class="red">*</font></td>
							<td>
								{%- if target_customer.sex == '1' %}
									<label><input type="radio" name="sex" value="1" checked/>男</label>
									<label><input type="radio" name="sex" value="0" />女</label>
								{%- else %}
									<label><input type="radio" name="sex" value="1"/>男</label>
									<label><input type="radio" name="sex" value="0" checked/>女</label>
								{%- endif %}
							</td>
							<td class="table-label">年龄<font class="red">*</font></td>
							<td>
								<span id="age">
									<input type="text" style="width:30px;" name="age" value="{{target_customer.age}}" onKeyUp="value=value.replace(/\D/g,'')" onchange="check(this,1,100)" maxlength="3"/>岁
									<span class="textfieldRequiredMsg">不能为空</span>
									<span class="errorInfo">请输入1-100的数</span>
								</span>
							</td>													
						</tr>
						<tr>
							<td class="table-label">地址</td>
							<td colspan="3">
								<span id="address">	
									<input type="text" name="address" value="{{target_customer.address}}" onchange="spryMaxLength(this,128)" class="long"/>
									<span class="errorInfo">字符数不得大于128</span>
								</span>
							</td>							
						</tr>		
						<tr>
							<td class="table-label">所属行业</td>
							<td>
								<select name="industry">
									{%- for obj in industry %}
										{%- if target_customer.industry == obj.id %}
											<option value={{obj.id}} selected>{{obj.type_name}}</option>
										{%- else %}
											<option value={{obj.id}}>{{obj.type_name}}</option>
										{%- endif %}
									{%- endfor %}								
								</select>
							</td>	
							<td class="table-label">经营内容</td>
							<td>
								<span id="business_content">	
									<input type="text" name="business_content" value="{{target_customer.business_content}}" onchange="spryMaxLength(this,256)" class="long"/>
									<span class="errorInfo">字符数不得大于256</span>
								</span>
							</td>						
						</tr>	
					</table>
				</div>
				{%- if target_customer.reception_type == 1 %}
				<div style="display:none;" id="dpxx">
				{%- else %}
				<div id="dpxx">
				{%- endif %}
					<i class="icon-bookmark"></i><span class="titletip">店铺信息</span>
					<div style="border:1px solid #94c1dc;">
						<table class="table-list">		
							<tr>
								<td class="table-label">店铺名称</td>
								<td>
									<span>	
										<input type="text" name="shop_name" value="{{target_customer.shop_name}}" onchange="spryMaxLength(this,256)" class="long"/>
										<span class="errorInfo">字符数不得大于256</span>
									</span>
								</td>
								<td class="table-label">经营期限</td>
								<td>
									<span id="period">
										<input type="text" style="width:30px;" name="period" value="{{target_customer.period}}" onKeyUp="value=value.replace(/\D/g,'')" onchange="check(this)" maxlength="3"/>年
										<span class="errorInfo">请输入0-100的数</span>
									</span>
								</td>			
							</tr>		
							<tr>
								<td class="table-label">资产规模</td>
								<td>
									<span>	
										<input type="text" name="property_scope" value="{{target_customer.property_scope}}" onkeyup="setJe(this)" maxlength="11"/><br/>
										<span class="je">人民币</span>	
										<span class="errorInfo"></span>							
									</span>	
								</td>
								<td class="table-label">月销售额</td>
								<td>
									<span>	
										<input type="text" name="monthly_sales" value="{{target_customer.monthly_sales}}" onkeyup="setJe(this)" maxlength="11"/><br/>
										<span class="je">人民币</span>	
										<span class="errorInfo"></span>							
									</span>	
								</td>
							</tr>		
							<tr>
								<td class="table-label">雇员数量</td>
								<td>
									<input type="text" name="employees" value="{{target_customer.employees}}" onKeyUp="value=value.replace(/\D/g,'')" maxlength="5"/>	
								</td>
								<td class="table-label">企业类别</td>
								<td>
									<select name="business_type">
										{%- for obj in business_type %}
											{%- if target_customer.business_type == obj.id %}
												<option value={{obj.id}} selected>{{obj.type_name}}</option>
											{%- else %}
												<option value={{obj.id}}>{{obj.type_name}}</option>
											{%- endif %}
										{%- endfor %}
									</select>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<i class="icon-bookmark"></i><span class="titletip">贷款信息</span>
				<div style="border:1px solid #94c1dc;">
					<table class="table-list">				
						<tr>
							<td class="table-label">是否有贷款需求</td>
							<td>
								{%- if target_customer.is_need_loan == '1' %}
									<label><input type="radio" name="is_need_loan" value="1" onclick="set(this.value)" checked />是</label>
									<label><input type="radio" name="is_need_loan" value="0" onclick="set(this.value)"/>否</label>
								{%- else %}
									<label><input type="radio" name="is_need_loan" value="1" onclick="set(this.value)" />是</label>
									<label><input type="radio" name="is_need_loan" value="0" onclick="set(this.value)" checked />否</label>
								{%- endif %}
							</td>
							<td class="table-label">贷款用途</td>
							<td>
								<select name="loan_purpose">
									{%- for obj in loan_purpose %}
										{%- if target_customer.loan_purpose == obj.id %}
												<option value={{obj.id}} selected>{{obj.type_name}}</option>
											{%- else %}
												<option value={{obj.id}}>{{obj.type_name}}</option>
											{%- endif %}
									{%- endfor %}
								</select>
							</td>	
						</tr>		
						<tr>
							<td class="table-label">贷款金额（元）</td>
							<td>
								<span id="loan_amount">	
									<input type="text" name="loan_amount" value="{{target_customer.loan_amount}}" onkeyup="setJe(this);" maxlength="11"/><br/>
									<span id="loan_amount_hj" class="je">人民币</span>	
									<span class="errorInfo"></span>							
								</span>	
							</td>
							<td class="table-label">希望的还款方式</td>
							<td>
								<span>	
									<input type="text" name="repayment_type" value="{{target_customer.repayment_type}}" onchange="spryMaxLength(this,64)" class="long"/>
									<span class="errorInfo">字符数不得大于64</span>
								</span>
							</td>						
						</tr>
						<tr>
							<td class="table-label">能提供的担保方式</td>
							<td>
								<span>	
									<input type="text" name="guarantee_type" value="{{target_customer.guarantee_type}}" onchange="spryMaxLength(this,64)" class="long"/>
									<span class="errorInfo">字符数不得大于64</span>
								</span>
							</td>
							<td class="table-label">房产产权情况</td>
							<td>
								<span>	
									<input type="text" name="house_property" value="{{target_customer.house_property}}" onchange="spryMaxLength(this,64)" class="long"/>
									<span class="errorInfo">字符数不得大于64</span>
								</span>
							</td>						
						</tr>
						<tr>
							<td class="table-label">贷款关注程度</td>
							<td>
								<select name="loan_attention">
									{%- if target_customer.loan_attention == '十分关注' %}
										<option value="十分关注" selected>十分关注</option>
									{%- else %}
										<option value="十分关注">十分关注</option>
									{%- endif %}
									{%- if target_customer.loan_attention == '关注' %}
										<option value="关注" selected>关注</option>
									{%- else %}
										<option value="关注">关注</option>
									{%- endif %}
									{%- if target_customer.loan_attention == '一般了解' %}
										<option value="一般了解" selected>一般了解</option>
									{%- else %}
										<option value="一般了解">一般了解</option>
									{%- endif %}
								</select>
							</td>
							<td class="table-label">是否在银行贷过款</td>
							<td>
								{%- if target_customer.is_have_loan == '1' %}
									<label><input type="radio" name="is_have_loan" value="1" checked/>是</label>
									<label><input type="radio" name="is_have_loan" value="0" />否</label>
								{%- else %}
									<label><input type="radio" name="is_have_loan" value="1" />是</label>
									<label><input type="radio" name="is_have_loan" value="0" checked/>否</label>
								{%- endif %}
							</td>						
						</tr>
						<tr>
							<td class="table-label">知道兴化农商行吗？</td>
							<td>
								{%- if target_customer.is_known_xhnsh == '1' %}
									<label><input type="radio" name="is_known_xhnsh" value="1" checked/>知道</label>
									<label><input type="radio" name="is_known_xhnsh" value="0" />不知道</label>
								{%- else %}
									<label><input type="radio" name="is_known_xhnsh" value="1" />知道</label>
									<label><input type="radio" name="is_known_xhnsh" value="0" checked/>不知道</label>
								{%- endif %}
							</td>
							<td class="table-label">您在兴化农村商业银行办理过什么业务？</td>
							<td>
								<span>	
									<input type="text" name="business_with_xhnsh" value="{{target_customer.business_with_xhnsh}}" onchange="spryMaxLength(this,256)" class="long"/>
									<span class="errorInfo">字符数不得大于256</span>
								</span>
							</td>						
						</tr>
						<tr>
							<td class="table-label">您是否需要办理以下银行产品</td>
							<td colspan="3">
								<select name="is_need_service">
									{%- if target_customer.is_need_service == '1' %}
										<option value="1" selected>手机银行</option>
									{%- else %}
										<option value="1">手机银行</option>
									{%- endif %}
									{%- if target_customer.is_need_service == '2' %}
										<option value="2" selected>转账电话</option>
									{%- else %}
										<option value="2">转账电话</option>
									{%- endif %}
									{%- if target_customer.is_need_service == '3' %}
										<option value="3" selected>pos机</option>
									{%- else %}
										<option value="3">pos机</option>
									{%- endif %}
									{%- if target_customer.is_need_service == '4' %}
										<option value="4" selected>网上银行</option>
									{%- else %}
										<option value="4">网上银行</option>
									{%- endif %}
									{%- if target_customer.is_need_service == '5' %}
										<option value="5" selected>借记卡</option>
									{%- else %}
										<option value="5">借记卡</option>
									{%- endif %}
									{%- if target_customer.is_need_service == '6' %}
										<option value="6" selected>贷记卡</option>
									{%- else %}
										<option value="6">贷记卡</option>
									{%- endif %}
									{%- if target_customer.is_need_service == '7' %}
										<option value="7" selected>无需求</option>
									{%- else %}
										<option value="7">无需求</option>
									{%- endif %}
								</select>
							</td>					
						</tr>
					</table>
				</div>
				<span class="point">*为必填字段</span><br/>
				<input type="submit" class="btn btn-info" value="提交"/>
				<input type="reset" class="btn btn-info" value="重置"/>											
			</form>		
		</div><!--/row-fluid -->
	</div><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
	<script type="text/javascript">
		var max=0;
		var jegs=0;
		var num=0;
		var idCard=0;
		var phone=0;
		var sprytextfield1 = new Spry.Widget.ValidationTextField("customer_name", "none", {validateOn:["blur"]});
		var sprytextfield2 = new Spry.Widget.ValidationTextField("manager_name_spay1", "none", {validateOn:["blur"]});
		var sprytextfield3 = new Spry.Widget.ValidationTextField("manager_name_spay2", "none", {validateOn:["blur"]});
		var sprytextfield4 = new Spry.Widget.ValidationTextField("manager_name_spay3", "none", {validateOn:["blur"]});
		var sprytextfield5 = new Spry.Widget.ValidationTextField("mobile", "integer", {validateOn:["blur"], minChars:11, maxChars:12});
		var sprytextfield6 = new Spry.Widget.ValidationTextField("age", "none", {validateOn:["blur"]});
		function show_table(value){
			if(value=="1"){
		        $("#dpxx").hide();		       
		    }
		    if(value=="2"){
		        $("#dpxx").show();		        
		    }
		    Frame();
		}
		function set(value){
			if(value=="0"){
				$("select[name=loan_purpose],input[name=loan_amount],input[name=repayment_type],input[name=guarantee_type],input[name=house_property],select[name=loan_attention],input[name=is_have_loan],input[name=is_known_xhnsh],input[name=business_with_xhnsh],input[type=checkbox]").each(function(){
	      			this.disabled=true;
	  			});//文本框不可编辑 
			}
			if(value=="1"){
				$("select[name=loan_purpose],input[name=loan_amount],input[name=repayment_type],input[name=guarantee_type],input[name=house_property],select[name=loan_attention],input[name=is_have_loan],input[name=is_known_xhnsh],input[name=business_with_xhnsh],input[type=checkbox]").each(function(){
	      			$(this).removeAttr("disabled");
	  			});//文本框可编辑 
			}
		}
	</script>
</body>
</html>
