<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/datepicker.css" rel="stylesheet">
	<!-- ************************验证样式************************-->
	<script src="/static/SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
	<link href="/static/SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css">
	<style type="text/css">
    	.tbblur{width:100px;height:20px;}
    </style>
	<script type="text/javascript">
		
	</script>
</head>

<body onload="datepicker()">	
	<form class="content">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">流程管理</a>/<a href="#">贷款还款</a>
		</div>		

		<div class="row-fluid">
			
			
			<div class="divBorder">
				<table class="table-list">		
					<tr>
						<td class="table-label">还款方式</td>
						<td>
							<select name="repayment_type" onchange="show_calculate();">
								<option value="1">等额本金</option>
								<option value="2">等额本息</option>
							</select>
						</td>
						<td class="table-label">还贷期数<font class="red">*</font></td>
						<td>
								
							<select name="loan_period" style="width:60px" onchange="show_calculate();">							
									<option value="1">1</option>								
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>							
									<option value="6">6</option>								
									<option value="7">7</option>							
									<option value="8">8</option>						
									<option value="9">9</option>
									<option value="10">10</option>							
									<option value="11">11</option>							
									<option value="12">12</option>							
									<option value="13">13</option>							
									<option value="14">14</option>							
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>						
									<option value="18">18</option>												
									<option value="19">19</option>											
									<option value="20">20</option>								
									<option value="21">21</option>							
									<option value="22">22</option>
									<option value="23">23</option>							
									<option value="24">24</option>
							</select>月					
						</td>					
					</tr>			
					<tr>
						<td class="table-label">贷款金额(元)</td>
						<td>
							<span>	
								<input type="text" name="loan_amount" onclick="setJe(this)" onkeyup="setJe(this);" maxlength="11" onchange="show_calculate();"/><br/>
								<span class="je">人民币</span>	
								<span class="errorInfo"></span>							
							</span>
						</td>
						<td class="table-label">月利率%<font class="red">*</font></td>
						<td>
							<span id="annual_interest_rate">
								<input type="text" style="width:40px" name="annual_interest_rate" onKeyUp="value=value.replace(/[^\d\.]/g,'')" onchange="check(this,0,100);show_calculate()" maxlength="10"/>%
								<span class="errorInfo">请输入0-100的数</span>
								<span class="textfieldRequiredMsg">不能为空</span>
							</span>
						</td>					
					</tr>		
					<tr>
						<td class="table-label">放款日期<font class="red">*</font></td>
						<td><input type="text" name="loan_date" class="datepicker" data-date-format="yyyy-mm-dd" readonly/></td>
						<td class="table-label">第一次还贷日期</td>
						<td><input type="text" name="first_repayment_date" class="datepicker" data-date-format="yyyy-mm-dd" readonly/></td>					
					</tr>
					<tr>
						<td colspan="4"><input type="button" class="btn btn-info" value="计算" onclick="show_calculate();"/></td>
					</tr>	
				</table>
			</div>
			<!--**********************************************还款计划**********************************************-->
			<!-- <iframe frameborder="0" width="100%;" id="dksp_info" src="/Process/dkfk/hkjh" height="560px"></iframe> -->
			<!--*****************************************还款计划**************************************************-->
			<i class="icon-bookmark"></i><span class="titletip">还款计划</span>
			<!-- <div id="tableFrame">
		        <div id="tableFrameTitle">
		            <ul>
		                <li>期数</li>
		                <li>本金</li>
		                <li>利息</li>
		                <li>合计</li>
		            </ul>
		        </div>
		        <div id="table_result">
		        </div>
		    </div> -->
		    <div class="divBorder" id="tableFrame">
				<table class="table-list">
					<thead id="tableFrameTitle">
						<tr>
							<th>还贷期数</th>
							<th>每月本金</th>
							<th>利息</th>
							<th>合计</th>
						</tr>
					</thead>
					<tbody class="center" id="table_result">
											
					</tbody>								
				</table>
			</div>
			<!--**********************************************按钮组**********************************************-->
			<div style="margin-bottom:20px;">
				<input type="submit" value="提交" class="btn btn-info"/>
				<input type="button" value="打印" class="btn btn-info"/>
			<div>
		</div><!--/row-fluid -->
	</div><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/bootstrap-datepicker.js"></script>
	<script src="/static/js/script.js"></script>	
    <script src="/static/js/Loan_Calculator.js"></script>
	<script type="text/javascript">
		var max=0;
		var jegs=0;
		var num=0;
		var idCard=0;
		var phone=0;
		var sprytextfield1 = new Spry.Widget.ValidationTextField("loan_account", "none", {validateOn:["blur"]});
		var sprytextfield2 = new Spry.Widget.ValidationTextField("loan_contract_number", "none", {validateOn:["blur"]});
		//var sprytextfield3 = new Spry.Widget.ValidationTextField("loan_period", "none", {validateOn:["blur"]});
		var sprytextfield4 = new Spry.Widget.ValidationTextField("annual_interest_rate", "none", {validateOn:["blur"]});
	</script>
</body>
</html>
