<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
		
</head>

<body onload="setTimeOut();">
	<div class="content">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">流程管理</a>/<a href="#">放款审核</a>
		</div>	
		{%- with messages = get_flashed_messages(with_categories=true) %}
		  	{%- if messages %}
	    	{%- for category, message in messages %}
	    	<div class="alert alert-{{category}}">
	      		{{message}}
	      	</div>
	    	{%- endfor %}
		  	{%- endif %}
		{%- endwith %}	
		<div class="row-fluid">
			<i class="icon-bookmark"></i><span class="titletip">贷款搜索</span>	
			<form method="POST" action="/Process/fksh/fksh_search/1">
				<div style="border:1px solid #94c1dc;">
					<table class="table-list">
						<tr>
							<td class="table-label">客户/店铺名称</td>
							<td><input type="text" name="customer_name"/></td>
							<td class="table-label">贷款类型</td>
							<td>
								<select name="loan_type">
									<option value="0">---全部---</option>
									<option value="1">微贷</option>
									<option value="2">小额贷</option>									
								</select>
							</td>
						</tr>									
					</table>
				</div>
				<input type="submit" class="btn btn-info" value="搜索"/>
				<input type="reset" class="btn btn-info" value="重置"/>											
			</form><!--/搜索-->
		</div><!--/row-fluid -->
	</div><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
</body>
</html>
