<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<style type="text/css">
		*{font-size: 15px;margin:0;}
		table{border-collapse:collapse;}
		.dayin{width:100%;margin-top:10px;}
		.dayin td{border:1px solid black;padding:8px 0;height:95px;}
		.center{text-align: center;}
	</style>
	
</head>

<body>
	<div class="content" style="width:800px;margin:0 auto;">
		
		<div>				
			<table style="width:100%">
				<tr>
					<td class="center"><span style="font-size:21px;font-weight:bold;line-height:35px;">非财务情况分析</span></td>
				</tr>
			</table>
		</div>
		<div>				
			<table class="dayin">
				<tr>
					<td class="center"><b>经营历史和资本积累</b></td>			
					<td colspan="4">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>		
				</tr>
				<tr>
					<td class="center"><b>生意现状<br/>（组织架构和市场）</b></td>			
					<td colspan="4">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>		
				</tr>	
				<tr>
					<td class="center"><b>生意现状<br/>（财务）</b></td>			
					<td colspan="4">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>		
				</tr>	
				<tr>
					<td class="center" style="width:200px;"><b>自从上次申请后经营变化<br/>（重复贷款）</b></td>			
					<td class="center" style="width:80px;"><b>生意方面</b></td>		
					<td style="width:220px;">XXXXXXXXXXXXXXXXXXX</td>			
					<td class="center" style="width:80px;"><b>生意方面</b></td>	
					<td style="width:220px;">XXXXXXXXXXXXXXXXXXXX</td>	
				</tr>	
				<tr>
					<td class="center"><b>过去12个月的投资情况</b></td>			
					<td class="center"><b>生意方面</b></td>		
					<td>XXXXXXXXXXXXXXXXXXX</td>			
					<td class="center"><b>生意方面</b></td>	
					<td>XXXXXXXXXXXXXXXXXX</td>	
				</tr>
				<tr>
					<td class="center"><b>未来12个月的投资计划</b></td>			
					<td class="center"><b>生意方面</b></td>		
					<td>XXXXXXXXXXXXXXXX</td>			
					<td class="center"><b>生意方面</b></td>	
					<td>XXXXXXXXXXXXXXXXX</td>	
				</tr>
				<tr>
					<td class="center"><b>贷款目的详细描述</b></td>			
					<td colspan="4">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>	
				</tr>
				<tr>
					<td class="center"><b>客户/法人/实际经营人/<br/>主要股东的私人情况</b></td>			
					<td colspan="4">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>	
				</tr>
				<tr>
					<td class="center"><b>对客户的印象</b></td>			
					<td colspan="4">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>	
				</tr>
				<tr>
					<td class="center"><b>其他还款来源分析</b></td>			
					<td colspan="4">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>	
				</tr>
			</table>
		</div>	
	</div>

	
</body>
</html>
