<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<style type="text/css">
		*{font-size: 12px;margin:0;}
		table{border-collapse:collapse;}
		.dayin{width:100%;margin-top:10px;}
		.dayin td{border:1px solid black;}
		.dayin .center{text-align:center;}
		.dayin .right{text-align:right;}
	</style>
	
</head>

<body onload="sub()">
	<div class="content" style="width:800px;margin:0 auto;">
		
		<div>				
			<table style="width:100%">
				<tr>
					<td style="text-align:center;" colspan="2"><span style="font-size:16px;font-weight:bold;line-height:35px;">固定资产清单</span></td>
				</tr>
				<tr>
					<td style="text-align:left;">报表日期：3014-01-01&nbsp;&nbsp;&nbsp;09:30</td>
					<td style="text-align:right;">单位：人民币</td>
				</tr>
			</table>
		</div>
		<div>				
			<table class="dayin">
				<tr>
					<td class="center" style="width:200px;"><b>物品名</b></td>
					<td class="center" style="width:90px;"><b>购置时间</b></td>	
					<td class="center" style="width:90px;"><b>原始单价</b></td>		
					<td class="center" style="width:80px;"><b>计提折旧<br/>比率</b></td>	
					<td class="center" style="width:70px;"><b>数量</b></td>	
					<td class="center" style="width:100px;"><b>总价值</b></td>	
					<td class="center"><b>折旧后价值</b></td>	
				</tr>
				<!--房地产详单-->
				{%- for obj in fixed_assets_estate %}
				<tr>	
					<td class="center">{{obj.name}}</td>
					<td class="center">{{obj.purchase_date}}</td>	
					<td class="right">{{obj.purchase_price}}</td>		
					<td class="center">{{obj.rate}}%</td>	
					<td class="center">{{obj.total}}</td>	
					<td class="subData1 right">{{obj.total_price}}</td>	
					<td class="subData2 right">{{obj.rate_price}}</td>	
				</tr>
				{%- endfor %}	
				{%- for obj in fixed_assets_equipment %}
				<tr>	
					<td class="center">{{obj.name}}</td>
					<td class="center">{{obj.purchase_date}}</td>	
					<td class="right">{{obj.purchase_price}}</td>		
					<td class="center">{{obj.rate}}%</td>	
					<td class="center">{{obj.total}}</td>	
					<td class="subData1 right">{{obj.total_price}}</td>	
					<td class="subData2 right">{{obj.rate_price}}</td>	
				</tr>
				{%- endfor %}	
				{%- for obj in fixed_assets_car %}	
				<tr>	
					<td class="center">{{obj.name}}</td>
					<td class="center">{{obj.purchase_date}}</td>	
					<td class="right">{{obj.purchase_price}}</td>		
					<td class="center">{{obj.rate}}%</td>	
					<td class="center">{{obj.total}}</td>	
					<td class="subData1 right">{{obj.total_price}}</td>	
					<td class="subData2 right">{{obj.rate_price}}</td>	
				</tr>
				{%- endfor %}	
				<tr>	
					<td class="center" rowspan="2"><b>合计</b></td>	
					<td class="center"><b>总价值</b></td>	
					<td class="right" id="sub1" colspan="6"></td>	
				</tr>
				<tr>							
					<td class="center"><b>折旧后价值</b></td>	
					<td class="right" id="sub2" colspan="6"></td>	
				</tr>
				<tr>
					<td class="right" class="right" colspan="8" style="border:none;">V1.1-DC-20131017</td>	
				</tr>
			</table>
		</div>	
	</div>
	<script src="/static/js/jquery-1.7.2.min.js"></script>	
	<script src="/static/js/script.js"></script>
	<script type="text/javascript">	
		var max=0;
		var jegs=0;
		var num=0;
		var idCard=0;
		var phone=0;
		function sub(){
			for(i=1;i<3;i++){
				var sum=0;	
				if($(".subData"+i).length==0){
					if(i==1)
						$("#sub"+i).html("<b>0</b>"); 
					else
						$("#sub"+i).html("<b>0</b>"+"<br/>（<span class='je'>"+hjje($("#sub"+i),0)+"</span>）"); 	
				}
				else{
					$.each($(".subData"+i),function(key,val){ 
						if(this.innerHTML=="")
							sum=sum;
						else
							sum += parseFloat(this.innerHTML);
						$("#sub"+i).html("<b>"+sum+"<br/>（<span class='je'>"+hjje($("#sub"+i),sum)+"</span>）</b>"); 	
					}); 
				}
			}
		}
	</script>
	
</body>
</html>
