<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<style type="text/css">
		*{font-size: 15px;margin:0;}
		table{border-collapse:collapse;}
		.dayin{width:100%;margin-top:10px;}
		.dayin td{border:1px solid black;padding:8px 0;height:30px;}
		.dayin .center{text-align:center;}
		.dayin .right{text-align:right;}
	</style>
	
</head>

<body>
	<div class="content" style="width:800px;margin:0 auto;">
		
		<div>				
			<table style="width:100%">
				<tr>
					<td style="text-align:center;" colspan="2"><span style="font-size:21px;font-weight:bold;line-height:35px;">固定资产清单</span></td>
				</tr>
				<tr>
					<td style="text-align:left;">报表日期：3014-01-01&nbsp;&nbsp;&nbsp;09:30</td>
					<td style="text-align:right;">单位：人民币</td>
				</tr>
			</table>
		</div>
		<div>				
			<table class="dayin">
				<tr>
					<td class="center" style="width:60px;"><b>序号</b></td>	
					<td class="center" style="width:200px;"><b>物品名</b></td>
					<td class="center" style="width:90px;"><b>购置时间</b></td>	
					<td class="center" style="width:90px;"><b>原始单价</b></td>		
					<td class="center" style="width:80px;"><b>计提折旧<br/>比率</b></td>	
					<td class="center" style="width:70px;"><b>数量</b></td>	
					<td class="center" style="width:100px;"><b>总价值</b></td>	
					<td class="center"><b>折旧后价值</b></td>	
				</tr>
				<tr>
					<td class="center"><b>1</b></td>	
					<td class="center">物品名</td>
					<td class="center">购置时间</td>	
					<td class="right">10000</td>		
					<td class="center">90%</td>	
					<td class="center">1</td>	
					<td class="right">10000</td>	
					<td class="right">9000</td>	
				</tr>
				<tr>
					<td class="center"><b>2</b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center"></td>	
					<td class="right"></td>	
					<td class="right"></td>	
				</tr>
				<tr>
					<td class="center"><b>3</b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center"></td>	
					<td class="right"></td>	
					<td class="right"></td>	
				</tr>
				<tr>
					<td class="center"><b>4</b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center"></td>	
					<td class="right"></td>	
					<td class="right"></td>	
				</tr>
				<tr>
					<td class="center"><b>5</b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center"></td>	
					<td class="right"></td>	
					<td class="right"></td>	
				</tr>
				<tr>
					<td class="center"><b>6</b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center"></td>	
					<td class="right"></td>	
					<td class="right"></td>	
				</tr>
				<tr>
					<td class="center"><b>7</b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center"></td>	
					<td class="right"></td>	
					<td class="right"></td>	
				</tr>
				<tr>
					<td class="center"><b>8</b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center"></td>	
					<td class="right"></td>	
					<td class="right"></td>	
				</tr>
				<tr>
					<td class="center"><b>9</b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center"></td>	
					<td class="right"></td>	
					<td class="right"></td>	
				</tr>
				<tr>
					<td class="center"><b>10</b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center"></td>	
					<td class="right"></td>	
					<td class="right"></td>	
				</tr>
				<tr>
					<td class="center"><b>11</b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center"></td>	
					<td class="right"></td>	
					<td class="right"></td>	
				</tr>
				<tr>
					<td class="center"><b>12</b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center"></td>	
					<td class="right"></td>	
					<td class="right"></td>	
				</tr>
				<tr>
					<td class="center"><b>13</b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center"></td>	
					<td class="right"></td>	
					<td class="right"></td>	
				</tr>
				<tr>
					<td class="center"><b>14</b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center"></td>	
					<td class="right"></td>	
					<td class="right"></td>	
				</tr>
				<tr>
					<td class="center"><b>15</b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center"></td>	
					<td class="right"></td>	
					<td class="right"></td>	
				</tr>
				<tr>
					<td class="center"><b>16</b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center"></td>	
					<td class="right"></td>	
					<td class="right"></td>	
				</tr>
				<tr>
					<td class="center"><b>17</b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center"></td>	
					<td class="right"></td>	
					<td class="right"></td>	
				</tr>
				<tr>
					<td class="center"><b>18</b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center"></td>	
					<td class="right"></td>	
					<td class="right"></td>	
				</tr>
				<tr>
					<td class="center"><b>19</b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center"></td>	
					<td class="right"></td>	
					<td class="right"></td>	
				</tr>
				<tr>
					<td class="center"><b>20</b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center"></td>	
					<td class="right"></td>	
					<td class="right"></td>	
				</tr>
				<tr>
					<td class="center"><b></b></td>	
					<td class="center"></td>
					<td class="center"></td>	
					<td class="right"></td>		
					<td class="center"></td>	
					<td class="center">合计</td>	
					<td class="right">10000</td>	
					<td class="right">9000</td>	
				</tr>
				<tr>
					<td class="right" class="right" colspan="8" style="border:none;">V1.1-DC-20131017</td>	
				</tr>
			</table>
		</div>	
	</div>

	
</body>
</html>
