<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<style type="text/css">
		*{font-size: 12px;margin:0;}
		table{border-collapse:collapse;}
		.dayin{width:100%;margin-top:10px;}
		.dayin td{border:1px solid black;}
		.dayin .left{text-align:left;}
		.dayin .center{text-align:center;}
		.dayin .right{text-align:right;}
	</style>
	
</head>

<body>
	<div class="content" style="width:800px;margin:0 auto;">
		
		<div>				
			<table style="width:100%">
				<tr>
					<td style="text-align:center;"><span style="font-size:16px;font-weight:bold;line-height:35px;">交叉检验</span></td>
				</tr>
			</table>
		</div>
		<div>				
			<table class="dayin">
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 0 %}
					<tr>
						<td colspan="1"><b>{{obj.items_name}}</b></td>
						<td colspan="3" style="height:60px;">{{obj.content}}</td>
					</tr>
					{%- endif %}
				{%- endfor %}
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 1 %}
					<tr>
						<td colspan="1"><b>{{obj.items_name}}</b></td>
						<td colspan="3" style="height:60px;">{{obj.content}}</td>
					</tr>
					{%- endif %}
				{%- endfor %}
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 2 %}
					<tr>
						<td colspan="1"><b>{{obj.items_name}}</b></td>
						<td colspan="3" style="height:60px;">{{obj.content}}</td>
					</tr>
					{%- endif %}
				{%- endfor %}
				<tr>
					<td colspan="4"><b>权益交叉检验</b></td>	
				</tr>
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 3 %}							
						<tr>
							{%- if obj.index == 0 %}
							<td style="padding-left:25px;" ><b>{{obj.items_name}}</b></td>	
							<td class="right" style="width:130px;"><b>{{obj.content}}</b></td>	
							{%- else %}
							<td style="padding-left:50px;">{{obj.items_name}}</td>	
							<td class="right" style="width:130px;">{{obj.content}}</td>	
							{%- endif %}
							
							{%- if obj.index == 0 %}
							<td style="padding-left:25px;" ><b>{{cross_examination[cross_examination.index(obj)+count_3].items_name}}</b></td>
							<td class="right" style="width:130px;"><b>{{obj.content}}</b></td>		
							{%- else %}
							<td style="padding-left:50px;">{{cross_examination[cross_examination.index(obj)+count_3].items_name}}</td>
							<td class="right" style="width:130px;">{{obj.content}}</td>		
							{%- endif %}
						</tr>
					{%- endif %}
				{%- endfor %}	
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 5 %}							
						<tr>
							{%- if obj.index == 0 %}
							<td style="padding-left:25px;" ><b>{{obj.items_name}}</b></td>								
							<td class="right" colspan="3"><b>{{obj.content}}</b></td>		
							{%- else %}
							<td style="padding-left:50px;">{{obj.items_name}}</td>							
							<td class="right" colspan="3">{{obj.content}}</td>			
							{%- endif %}						
						</tr>
					{%- endif %}
				{%- endfor %}
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 6 %}	
						<tr>
							<td style="padding-left:25px;"><b>{{obj.items_name}}</b></td>	
							<td class="right"><b>{{obj.content}}</b></td>
					{%- endif %}
					{%- if obj.loan_type == 7 %}
							<td style="padding-left:25px;"><b>{{obj.items_name}}</b></td>	
							<td class="right"><b>{{obj.content}}</b></td>	
						</tr>
					{%- endif %}
				{%- endfor %}
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 8 %}	
						<tr>
							<td style="padding-left:25px;"><b>{{obj.items_name}}</b></td>	
							<td class="right"><b>{{obj.content}}</b></td>
					{%- endif %}
					{%- if obj.loan_type == 9 %}
							<td style="padding-left:25px;"><b>{{obj.items_name}}</b></td>	
							<td class="right"><b>{{obj.content}}</b></td>	
						</tr>
					{%- endif %}
				{%- endfor %}
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 10 %}	
						<tr>
							<td style="padding-left:25px;"><b>{{obj.items_name}}</b></td>	
							<td class="right"><b>{{obj.content}}</b></td>
					{%- endif %}
					{%- if obj.loan_type == 11 %}
							<td style="padding-left:25px;"><b>{{obj.items_name}}</b></td>	
							<td class="right"><b>{{obj.content}}</b></td>	
						</tr>
					{%- endif %}
				{%- endfor %}
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 12 %}	
						<tr>
							<td style="padding-left:25px;"><b>{{obj.items_name}}</b></td>	
							<td class="right"><b>{{obj.content}}</b></td>
					{%- endif %}
					{%- if obj.loan_type == 13 %}
							<td style="padding-left:25px;"><b>{{obj.items_name}}</b></td>	
							<td class="right"><b>{{obj.content}}</b></td>	
						</tr>
					{%- endif %}
				{%- endfor %}
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 14 %}	
						<tr>
							<td style="padding-left:25px;"><b>{{obj.items_name}}</b></td>	
							<td class="right" colspan="3"><b>{{obj.content}}%</b></td>
					{%- endif %}
				{%- endfor %}
			</table>
		</div>	
	</div>

	
</body>
</html>
