<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<style type="text/css">
		*{font-size: 12px;margin:0;}
		table{border-collapse:collapse;}
		.dayin{width:100%;margin-top:10px;}
		.dayin td{border:1px solid black;padding-right: 10px;}
		.dayin .left{text-align:left;}
		.dayin .center{text-align:center;}
		.dayin .right{text-align:right;}
		input{border:none;width:130px;}
	</style>
	
</head>

<body>
	<div class="content" style="width:800px;margin:0 auto;">
		
		<div>				
			<table style="width:100%">
				<tr>
					<td style="text-align:center;"><span style="font-size:16px;font-weight:bold;line-height:35px;">交叉检验</span></td>
				</tr>
			</table>
		</div>
		<div>				
			<table class="dayin">
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 0 %}
					<tr>
						<td colspan="1" style="width:30%;"><b>{{obj.items_name}}</b></td>
						<td colspan="3" style="height:60px;">{{obj.content}}</td>
					</tr>
					{%- endif %}
				{%- endfor %}
				<tr>
					{%- for obj in cross_examination %}
						{%- if obj.loan_type == 1 %}
						<td class="table-label">{{obj.items_name}}
							<input type="hidden" name="type_1" value="1">
							<input type="hidden" name="name_1" value="{{obj.items_name}}">
							{%- if profit_jcjy %}
								<!-- <input type="button" value="录入文字描述" class="btn btn-info" onclick="changeAction(this)">
								<input type="hidden" id="record_type" name="record_type" value="2">	 -->
							{%- else %}
								<!-- <input type="button" value="录入详细数据" class="btn btn-info" onclick="changeAction(this)">
								<input type="hidden" id="record_type" name="record_type" value="1"> -->
							{%- endif %}
						</td>
						<td colspan="6">
							{%- if profit_jcjy %}
							<div id="jcjy1" style="display:none">
							{%- else %}
							<div id="jcjy1">
							{%- endif %}
								{{obj.content}}
								<!-- <textarea name="value_1" onchange="spryMaxLength(this,2048)">{{obj.content}}</textarea>
								<span class="errorInfo">字符数不得大于2048</span> -->
							</div>	
							{%- if profit_jcjy %}
							<div id="jcjy2">	
							{%- else %}
							<div style="display:none;" id="jcjy2">	
							{%- endif %}
								<!-- <input type="button" value="+" onclick="addTd2('tableAll','dqdcXed_jcjy')" class="btn btn-info btn-mini"/>
								<input type="button" value="-" onclick="removeTd2('dqdcXed_jcjy')" class="btn btn-info btn-mini"/>	 -->
								<div class="divBorder">
									<div id="tableAll">		
										<table class="dayin">
											<tr class="center">
												<td style="width:140px;">名称</td>
												<td style="width:140px;">进价</td>
												<td style="width:140px;">销售价</td>
												<td style="width:140px;">占比(%)</td>
												<td style="width:140px;">毛利(%)</td>
											</tr>	
										</table>
										{%- for i in range(maxIndex+1) %}
											<table class="dayin" id="table{{i}}" rule="block" style="margin-top:0;">
												{%- for obj in profit_jcjy %}
												
													{%- if obj.index == i %}
														{%- if obj.type == 1 %}
															<tr>
																<td style="width:140px;border-top:0;">
																	{{obj.name}}
																	<!-- <input type="text" name="name" value="{{obj.name}}" onchange="setName(this,{{obj.index}})"/>
																	<input type="hidden" name="type" value="{{obj.type}}" /> -->
																</td>
																<td style="width:140px;border-top:0;">
																	<!-- <input type="button" value="+" onclick="addTd('table{{obj.index}}','dqdcXed_jcjy')" class="btn btn-info btn-mini"/>
																	<input type="button" value="-" onclick="removeTd('table{{obj.index}}','dqdcXed_jcjy');$(this).parent().parent().parent().find('input[name=price]').change();" class="btn btn-info btn-mini"/>	 -->
																	<!-- <input type="hidden" name="bid"/>	 -->
																</td>
																<td style="width:140px;border-top:0;"><!-- <input type="hidden" name="price"/> --></td>
																<td style="width:140px;border-top:0;"><!-- <input type="hidden" name="ratio"/> --></td>
																<td style="width:140px;border-top:0;">{{obj.profit}}<!-- <input type="text" name="profit" value="{{obj.profit}}" readonly/> --></td>
															</tr>
														{%- endif %}
													
														{%- if obj.type == 2 %}
															<tr>
																<td style="width:140px;">
																	{{obj.name}}
																	<!-- <input type="text" name="name" value="{{obj.name}}"/>
																	<input type="hidden" name="type" value="{{obj.type}}"/> -->
																</td>
																<td style="width:140px;">{{obj.bid}}<!-- <input type="text" name="bid" value="{{obj.bid}}" onchange="Maoli(this);Zmaoli(this,{{obj.index}})"/> --></td>
																<td style="width:140px;">{{obj.price}}<!-- <input type="text" name="price" value="{{obj.price}}" onchange="Maoli(this);Zmaoli(this,{{obj.index}})"/> --></td>
																<td style="width:140px;">{{obj.ratio}}<!-- <input type="text" name="ratio" value="{{obj.ratio}}" onchange="Zmaoli(this,{{obj.index}})"/><input type="hidden" name="zc"/> --></td>
																<td style="width:140px;">{{obj.profit}}<!-- <input type="text" name="profit" value="{{obj.profit}}" readonly/> --></td>
															</tr>
														{%- endif %}
														
													{%- endif %}
													
												{%- endfor %}	
											</table>
										{%- endfor %}
																	
									</div>	
									<table class="dayin" id="tableHj" style="margin-top:0;">		
										{%- for obj in profit_jcjy %}
											{%- if obj.type == 3 %}						
											<tr>
												<td style="width:140px;border-top:0;">
													{{obj.name}}<!-- <input type="text" name="name" value="{{obj.name}}" readonly/>
													<input type="hidden" name="type" value="{{obj.type}}"/> -->
												</td>
												<td style="width:140px;border-top:0;"><!-- <input type="hidden" name="bid"/> --></td>
												<td style="width:140px;border-top:0;"><!-- <input type="hidden" name="price"/> --></td>
												<td style="width:140px;border-top:0;">{{obj.ratio}}<!-- <input type="text" name="ratio" value="{{obj.ratio}}" onchange="ZJQmaoli(this)"/><input type="hidden" name="zcc"/> --></td>
												<td style="width:140px;border-top:0;">{{obj.profit}}<!-- <input type="text" name="profit" value="{{obj.profit}}" readonly/> --></td>
											</tr>
											{%- endif %}
										{%- endfor %}														
									</table>
									<table class="dayin" id="tableTotal" style="margin-top:0;">	
										{%- for obj in profit_jcjy %}
											{%- if obj.type == 4 %}							
											<tr>
												<td style="width:140px;text-align:center;border-top:0;font-weight:bold">{{obj.name}}
													<!-- <input type="hidden" name="name" value="{{obj.name}}"/>
													<input type="hidden" name="type" value="{{obj.type}}"/> -->
												</td>
												<td style="width:140px;border-top:0;"><!-- <input type="hidden" name="bid"/> --></td>
												<td style="width:140px;border-top:0;"><!-- <input type="hidden" name="price"/> --></td>
												<td style="width:140px;border-top:0;"><!-- <input type="hidden" name="ratio"/> --></td>
												<td style="width:140px;border-top:0;">{{obj.profit}}<!-- <input type="text" name="profit" value="{{obj.profit}}" readonly/> --></td>
											</tr>	
											{%- endif %}
										{%- endfor %}														
									</table>
								</div>	
							</div>	
						</td>	
						</td>
						{%- endif %}
					{%- endfor %}
				</tr>
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 2 %}
					<tr>
						<td colspan="1"><b>{{obj.items_name}}</b></td>
						<td colspan="3" style="height:60px;">{{obj.content}}</td>
					</tr>
					{%- endif %}
				{%- endfor %}
				<tr>
					<td colspan="4"><b>权益交叉检验</b></td>	
				</tr>
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 3 %}							
						<tr>
							{%- if obj.index == 0 %}
							<td style="padding-left:25px;width:30%;"><b>{{obj.items_name}}</b></td>	
							<td class="right"><b>{{obj.content}}</b></td>	
							{%- else %}
							<td style="padding-left:50px;width:30%;">{{obj.items_name}}</td>	
							<td class="right">{{obj.content}}</td>	
							{%- endif %}
							
							{%- if obj.index == 0 %}
							<td style="padding-left:25px;"><b>{{cross_examination[cross_examination.index(obj)+count_3].items_name}}</b></td>
							<td class="right" ><b>{{cross_examination[cross_examination.index(obj)+count_3].content}}</b></td>		
							{%- else %}
							<td style="padding-left:50px;width:30%;">{{cross_examination[cross_examination.index(obj)+count_3].items_name}}</td>
							<td class="right">{{cross_examination[cross_examination.index(obj)+count_3].content}}</td>		
							{%- endif %}
						</tr>
					{%- endif %}
				{%- endfor %}	
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 5 %}							
						<tr>
							{%- if obj.index == 0 %}
							<td style="padding-left:25px;" ><b>{{obj.items_name}}</b></td>								
							<td class="right"><b>{{obj.content}}</b></td>		
							{%- else %}
							<td style="padding-left:50px;">{{obj.items_name}}</td>							
							<td class="right">{{obj.content}}</td>			
							{%- endif %}	
							<td></td>
							<td></td>					
						</tr>
					{%- endif %}
				{%- endfor %}
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 6 %}	
						<tr>
							<td style="padding-left:25px;"><b>{{obj.items_name}}</b></td>	
							<td class="right"><b>{{obj.content}}</b></td>
					{%- endif %}
					{%- if obj.loan_type == 7 %}
							<td style="padding-left:25px;"><b>{{obj.items_name}}</b></td>	
							<td class="right"><b>{{obj.content}}</b></td>	
						</tr>
					{%- endif %}
				{%- endfor %}
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 8 %}	
						<tr>
							<td style="padding-left:25px;"><b>{{obj.items_name}}</b></td>	
							<td class="right"><b>{{obj.content}}</b></td>
					{%- endif %}
					{%- if obj.loan_type == 9 %}
							<td style="padding-left:25px;"><b>{{obj.items_name}}</b></td>	
							<td class="right"><b>{{obj.content}}</b></td>	
						</tr>
					{%- endif %}
				{%- endfor %}
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 10 %}	
						<tr>
							<td style="padding-left:25px;"><b>{{obj.items_name}}</b></td>	
							<td class="right"><b>{{obj.content}}</b></td>
					{%- endif %}
					{%- if obj.loan_type == 11 %}
							<td style="padding-left:25px;"><b>{{obj.items_name}}</b></td>	
							<td class="right"><b>{{obj.content}}</b></td>	
						</tr>
					{%- endif %}
				{%- endfor %}
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 12 %}	
						<tr>
							<td style="padding-left:25px;"><b>{{obj.items_name}}</b></td>	
							<td class="right"><b>{{obj.content}}</b></td>
					{%- endif %}
					{%- if obj.loan_type == 13 %}
							<td style="padding-left:25px;"><b>{{obj.items_name}}</b></td>	
							<td class="right"><b>{{obj.content}}</b></td>	
						</tr>
					{%- endif %}
				{%- endfor %}
				{%- for obj in cross_examination %}
					{%- if obj.loan_type == 14 %}	
						<tr>
							<td style="padding-left:25px;"><b>{{obj.items_name}}</b></td>	
							<td class="right" colspan="3"><b>{{obj.content}}%</b></td>
					{%- endif %}
				{%- endfor %}
			</table>
		</div>	
	</div>

	
</body>
</html>
