<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<style type="text/css">
		*{font-size: 15px;margin:0;}
		table{border-collapse:collapse;}
		.dayin{width:100%;margin-top:10px;text-align:right;}
		.dayin td{border:1px solid black;}
		.left{text-align: left;}
	</style>
	
</head>

<body>
	<div class="content" style="width:1200px;margin:0 auto;">
		
		<div>				
			<table style="width:100%">
				<tr>
					<td style="text-align:center;" colspan="2"><span style="font-size:21px;font-weight:bold;line-height:35px;">损益表</span></td>
				</tr>
				<tr>
					<td style="text-align:left;">报表日期：3014-01-01至2014-12-25</td>
					<td style="text-align:right;">单位：人民币</td>
				</tr>
			</table>
		</div>
		<div>				
			<table class="dayin">
				<tr>
					<td class="left" style="width:230px;">项目</td>			
					<td style="width:65px;"><b>1月</b></td>		
					<td style="width:65px;"><b>2月</b></td>	
					<td style="width:65px;"><b>3月</b></td>	
					<td style="width:65px;"><b>4月</b></td>	
					<td style="width:65px;"><b>5月</b></td>	
					<td style="width:65px;"><b>6月</b></td>	
					<td style="width:65px;"><b>7月</b></td>	
					<td style="width:65px;"><b>8月</b></td>	
					<td style="width:65px;"><b>9月</b></td>	
					<td style="width:65px;"><b>10月</b></td>	
					<td style="width:65px;"><b>11月</b></td>	
					<td style="width:65px;"><b>12月</b></td>	
					<td style="width:70px;"><b>合计</b></td>	
					<td><b>月均</b></td>
				</tr>
				<tr>
					<td class="left" colspan="15"><b>收入</b></td>
				</tr>	
				<tr>
					<td class="left" style="padding-left:25px;">电池销售</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>	
				<tr>
					<td class="left" style="padding-left:25px;">厂家返利</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>					
				<tr>
					<td class="right"><b>合计(1)</b></td>		
					<td><b>1</b></td>		
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left" colspan="15"><b>可变成本</b></td>
				</tr>	
				<tr>
					<td class="left" style="padding-left:25px;">电池销售</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>	
				<tr>
					<td class="right"><b>合计(2)</b></td>		
					<td><b>1</b></td>		
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="right"><b>毛利=(1)-(2)</b></td>		
					<td><b>1</b></td>		
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left" colspan="15"><b>营业费用</b></td>
				</tr>
				<tr>
					<td class="left" style="padding-left:25px;">工资</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>	
				<tr>
					<td class="left" style="padding-left:25px;">经营性房屋租赁费</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>	
				<tr>
					<td class="left" style="padding-left:25px;">水费</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>	
				<tr>
					<td class="left" style="padding-left:25px;">电费</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>	
				<tr>
					<td class="left" style="padding-left:25px;">设备损耗</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>	
				<tr>
					<td class="left" style="padding-left:25px;">伙食费</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>	
				<tr>
					<td class="left" style="padding-left:25px;">电话费</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>	
				<tr>
					<td class="left" style="padding-left:25px;">公关费</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>	
				<tr>
					<td class="left" style="padding-left:25px;">汽车维修费</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>	
				<tr>
					<td class="left" style="padding-left:25px;">机器维修费</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>	
				<tr>
					<td class="left" style="padding-left:25px;">广告费</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>	
				<tr>
					<td class="left" style="padding-left:25px;">运输邮费</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left" style="padding-left:25px;">物业管理费</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>			
				<tr>
					<td class="left" style="padding-left:25px;">生产许可合格证</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left" style="padding-left:25px;">保险费</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left" style="padding-left:25px;">其他</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left" style="padding-left:25px;">税收</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>	
				<tr>
					<td class="right"><b>总计(3)</b></td>		
					<td><b>1</b></td>		
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="right"><b>分期还款（经营）(4)</b></td>		
					<td><b>1</b></td>		
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="right"><b>净利润=(1)-(2)-(3)-(4)</b></td>		
					<td><b>1</b></td>		
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left" style="padding-left:25px;">家庭开支</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>	
				<tr>
					<td class="left" style="padding-left:25px;">分期付款(私人用途)</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left" style="padding-left:25px;">其他支出</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left" style="padding-left:25px;">其他收入</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="right"><b>每月可支配资金</b></td>		
					<td><b>1</b></td>		
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
			</table>
		</div>	
	</div>

	
</body>
</html>
