<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<style type="text/css">
		*{font-size: 15px;margin:0;}
		table{border-collapse:collapse;}
		.dayin{width:100%;margin-top:10px;text-align:right;}
		.dayin td{border:1px solid black;}
		.left{text-align: left;}
	</style>
	
</head>

<body>
	<div class="content" style="width:1200px;margin:0 auto;">
		
		<div>				
			<table style="width:100%">
				<tr>
					<td style="text-align:center;" colspan="2"><span style="font-size:21px;font-weight:bold;line-height:35px;">现金流量表</span></td>
				</tr>
				<tr>
					<td style="text-align:left;">报表日期：3014-01-01至2014-12-25</td>
					<td style="text-align:right;">单位：人民币</td>
				</tr>
			</table>
		</div>
		<div>				
			<table class="dayin">
				<tr>
					<td class="left" style="width:230px;">月份</td>			
					<td style="width:65px;"><b>1月</b></td>		
					<td style="width:65px;"><b>2月</b></td>	
					<td style="width:65px;"><b>3月</b></td>	
					<td style="width:65px;"><b>4月</b></td>	
					<td style="width:65px;"><b>5月</b></td>	
					<td style="width:65px;"><b>6月</b></td>	
					<td style="width:65px;"><b>7月</b></td>	
					<td style="width:65px;"><b>8月</b></td>	
					<td style="width:65px;"><b>9月</b></td>	
					<td style="width:65px;"><b>10月</b></td>	
					<td style="width:65px;"><b>11月</b></td>	
					<td style="width:65px;"><b>12月</b></td>	
					<td style="width:70px;"><b>月均</b></td>	
					<td><b>合计</b></td>
				</tr>
				<tr>
					<td class="left"><b>初期现金(10)</b></td>			
					<td><b>1000000</b></td>		
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>	
				<tr>
					<td class="left">现金销售额</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>	
				<tr>
					<td class="left">应收账款回收</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">客户预付款</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left"><b>经营现金流小计(1)</b></td>			
					<td><b>1</b></td>		
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">现金购买原材料、服务、货物</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">应付账款的支付</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">购货的预付款项(原材料、服务费)</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left"><b>经营现金流出小计(2)</b></td>			
					<td><b>1</b></td>		
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">工资及劳保</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">税金</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">交通费用</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">租金</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">维护费用</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">水电费用</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">通讯费用</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">招待费用</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">其他费用</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left"><b>固定成本小计(3)</b></td>			
					<td><b>1</b></td>		
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left"><b>付款总额(4)=(2)+(3)</b></td>			
					<td><b>1</b></td>		
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left"><b>营业活动现金净流量(5)=(1)-(4)</b></td>			
					<td><b>1</b></td>		
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">购买新固定资产的支出</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">建设和装修等的支出</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">其他支出</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">固定资产出售流入</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">其他流入</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left"><b>投资活动总现金流(7)</b></td>			
					<td><b>1</b></td>		
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">其他现金来源</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">家庭开支</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">私人使用资金</td>			
					<td>1</td>		
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td>1</td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left"><b>私人现金流总额(8)</b></td>			
					<td><b>1</b></td>		
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left"><b>累计现金(9)=(5)+(6)+(7)+(8)</b></td>			
					<td><b>1</b></td>		
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left"><b>期末现金(11)=(10)+(9)</b></td>			
					<td><b>1</b></td>		
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>	
					<td><b>1</b></td>
				</tr>
				<tr>
					<td class="left">现金流分析及说明</td>			
					<td class="left" colspan="14"></td>		
				</tr>
				<tr>
					<td class="left">0-12期现金流出/现金流入</td>			
					<td class="left" colspan="14"></td>		
				</tr>
			</table>
		</div>	
	</div>

	
</body>
</html>
