<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<style type="text/css">
		*{font-size: 12px;margin:0;}
		table{border-collapse:collapse;}
		.dayin{width:100%;margin-top:10px;}
		.dayin td{border:1px solid black;text-align:center;}
		.dayin .left{text-align:left;}
		.dayin .right{text-align:right;}
	</style>
	
</head>

<body onload="sub()">
	<div class="content" style="width:1200px;margin:0 auto;">		
		<div>				
			<table style="width:100%">
				<tr>
					<td style="text-align:center;" colspan="2"><span style="font-size:16px;font-weight:bold;line-height:35px;">应付账款清单</span></td>
				</tr>
				<tr>
					<td style="text-align:left;">报表日期：3014-01-01至2014-12-25</td>
					<td style="text-align:right;">单位：人民币</td>
				</tr>
			</table>
		</div>
		<div>				
			<table class="dayin">
				<tr>	
					<th>应付对象</th>  
					<th>欠款日期</th>
					<th>应付款日期</th>	
					<th>应付金额</th>						
					<th>应付类别</th>
					<th>应付对象联系方式</th>						
					<th>关系/生意模式</th>
				</tr>
				{%- for obj in accounts_list %}
					{%- if obj.mode_type==1%}
				<tr>	
					<td class="left">{{obj.name}}</td>
					<td>{{obj.occur_date}}</td>
					<td>{{obj.deadline}}</td>
					<td class="right subData1">{{obj.original_price}}</td>
					<td>{{obj.pay_type}}</td>
					<td>{{obj.present_price}}</td>
					<td>{{obj.cooperation_history}}</td>
				</tr>
					{%- endif%}	
				{%- endfor %}	
				
				<tr>	
					<td></td>
					<td></td>
					<td><b>合计</b></td>
					<td class="right" id="sub1"></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>	
	</div>

	<script src="/static/js/jquery-1.7.2.min.js"></script>	
	<script src="/static/js/script.js"></script>
	<script type="text/javascript">	
		var max=0;
		var jegs=0;
		var num=0;
		var idCard=0;
		var phone=0;
		function sub(){
			for(i=1;i<3;i++){
				var sum=0;	
				if($(".subData"+i).length==0){
					if(i==1)
						$("#sub"+i).html("<b>0</b>"); 
					else
						$("#sub"+i).html("<b>0</b>"+"<br/>（<span class='je'>"+hjje($("#sub"+i),0)+"</span>）"); 	
				}
				else{
					$.each($(".subData"+i),function(key,val){ 
						if(this.innerHTML=="")
							sum=sum;
						else
							sum += parseFloat(this.innerHTML);
						$("#sub"+i).html("<b>"+sum+"<br/>（<span class='je'>"+hjje($("#sub"+i),sum)+"</span>）</b>"); 	
					}); 
				}
			}
		}
	</script>
</body>
</html>
