<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<style type="text/css">
		*{font-size: 15px;margin:0;}
		table{border-collapse:collapse;}
		.dayin{width:100%;margin-top:10px;}
		.dayin td{border:1px solid black;padding:8px 0;text-align:right;}
		.dayin .left{text-align:left;}
	</style>
	
</head>

<body>
	<div class="content" style="width:800px;margin:0 auto;">
		
		<div>				
			<table style="width:100%">
				<tr>
					<td style="text-align:center;" colspan="2"><span style="font-size:21px;font-weight:bold;line-height:35px;">资产负债表</span></td>
				</tr>
				<tr>
					<td style="text-align:left;">报表日期：3014-01-01&nbsp;&nbsp;&nbsp;09:30</td>
					<td style="text-align:right;">单位：人民币</td>
				</tr>
			</table>
		</div>
		<div>				
			<table class="dayin">
				<tr>
					<td class="left" colspan="2"><b>资产</b></td>			
					<td class="left" colspan="2"><b>负债</b></td>	
				</tr>
				<tr>
					<td class="left" style="width:250px"><b>流动资产</b></td>	
					<td style="width:170px"><b>10000000000000</b></td>						
					<td class="left" style="width:250px"><b>短期负债</b></td>	
					<td><b>100000000</b></td>	
				</tr>
				<tr>
					<td class="left" style="padding-left:25px;"><b>现金及银行存款</b></td>	
					<td><b>10000</b></td>						
					<td class="left" style="padding-left:25px;"><b>应付账款</b></td>	
					<td><b>10000</b></td>	
				</tr>
				<tr>
					<td class="left" style="padding-left:50px;">现金</td>	
					<td>10000</td>						
					<td class="left" style="padding-left:50px;"></td>	
					<td></td>	
				</tr>
				<tr>
					<td class="left" style="padding-left:50px;">银行存款</td>	
					<td>10000</td>						
					<td class="left" style="padding-left:50px;"></td>	
					<td></td>	
				</tr>
				<tr>
					<td class="left" style="padding-left:25px;"><b>应收账款</b></td>	
					<td><b>10000</b></td>					
					<td class="left" style="padding-left:25px;"><b>预收账款</b></td>	
					<td><b>10000</b></td>	
				</tr>
				<tr>
					<td class="left" style="padding-left:50px;">客户的压货</td>	
					<td>10000</td>						
					<td class="left" style="padding-left:50px;"></td>	
					<td></td>	
				</tr>
				<tr>
					<td class="left" style="padding-left:25px;"><b>预付账款</b></td>	
					<td><b>10000</b></td>						
					<td class="left" style="padding-left:25px;"><b>短期贷款</b></td>	
					<td><b>10000</b></td>	
				</tr>
				<tr>
					<td class="left" style="padding-left:50px;"></td>	
					<td></td>						
					<td class="left" style="padding-left:50px;">信用卡透支</td>	
					<td></td>	
				</tr>
				<tr>
					<td class="left" style="padding-left:50px;"></td>	
					<td>10000</td>						
					<td class="left" style="padding-left:50px;">个人借贷</td>	
					<td></td>	
				</tr>
				<tr>
					<td class="left" style="padding-left:50px;"></td>	
					<td>10000</td>						
					<td class="left" style="padding-left:50px;">其他机构贷款</td>	
					<td></td>	
				</tr>
				<tr>
					<td class="left" style="padding-left:25px;"><b>存货和原材料</b></td>	
					<td><b>10000</b></td>						
					<td class="left" style="padding-left:25px;"><b>社会集资</b></td>	
					<td><b>10000</b></td>	
				</tr>
				<tr>
					<td class="left" style="padding-left:50px;">给厂家的退货</td>	
					<td>10000</td>						
					<td class="left" style="padding-left:50px;"></td>	
					<td></td>	
				</tr>
				<tr>
					<td class="left" style="padding-left:25px;"><b>固定资产</b></td>	
					<td><b>10000</b></td>					
					<td class="left" style="padding-left:25px;"><b>长期负债</b></td>	
					<td><b>10000</b></td>	
				</tr>
				<tr>
					<td class="left" style="padding-left:50px;">汽车（2009年购买）</td>	
					<td>10000</td>						
					<td class="left" style="padding-left:50px;"></td>	
					<td></td>	
				</tr>
				<tr>
					<td class="left" style="padding-left:25px;"><b>其他资产</b></td>	
					<td><b>10000</b></td>					
					<td class="left" style="padding-left:25px;"><b>其他负债</b></td>	
					<td><b>10000</b></td>	
				</tr>
				<tr>
					<td class="left" style="padding-left:50px;">预付押金</td>	
					<td>10000</td>						
					<td class="left" style="padding-left:50px;"></td>	
					<td></td>	
				</tr>
				<tr>
					<td class="left" style="padding-left:25px;"><b></b></td>	
					<td></td>						
					<td class="left" style="padding-left:25px;"><b>负债总计</b></td>	
					<td><b>10000</b></td>
				</tr>
				<tr>
					<td class="left" style="padding-left:25px;"><b></b></td>	
					<td></td>						
					<td class="left" style="padding-left:25px;"><b>所有者权益</b></td>	
					<td><b>10000</b></td>
				</tr>
				<tr>
					<td class="left" style="padding-left:25px;"><b>资产总计</b></td>	
					<td><b>10000</b></td>					
					<td class="left" style="padding-left:25px;"><b>负债和所有者权益总计</b></td>	
					<td><b>10000</b></td>	
				</tr>
				<tr>
					<td class="left" style="padding-left:25px;"></td>	
					<td></td>						
					<td class="left" style="padding-left:25px;">负债率%</td>	
					<td>10000</td>	
				</tr>
				<tr>
					<td class="left" style="padding-left:25px;"><b>流动比率</b></td>	
					<td></td>						
					<td class="left" style="padding-left:25px;">速动比率</td>	
					<td>10000</td>	
				</tr>
				<tr>
					<td class="left" colspan="4">表外资产负债情况及评价</td>	
				</tr>
				<tr>
					<td class="left" colspan="4" style="height:50px;">XXXXXXXXXXXXXXXXXX</td>	
				</tr>
			</table>
		</div>	
	</div>

	
</body>
</html>
