  <!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	
</head>

<body>	
	<form class="content" method="POST" action="/Process/zcfl/edit_zcfl/{{view_query_loan.loan_apply_id}}">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">流程管理</a>/<a href="#">资产分类</a>
		</div>		
		<div class="row-fluid">	
			<!--*****************************************共同借款人**************************************************-->
		<i class="icon-bookmark"></i><span class="titletip">共同借款人</span>
		<div class="divBorder">
			<table id="gtjkr" class="table-list">
				<!-- <tr class="font-small">
					<th>姓名</th>
					<th>与客户关系</th>
					<th>身份证号码</th>							
					<th>家庭电话</th>
					<th>主营业务或职务（如受雇与别人）</th>
					<th>经营地址或工作单位地址</th>		
					<th>主要资产</th>
					<th>月收入</th>									
				</tr> -->
				{%- for obj in co_borrower %}
				<tr class="center"><!--后期Js中要增加ID字段-->
					<td rowspan='2' class='table-label'>姓名<input type="text" name="name" class="tbInput" value="{{obj.name}}" disabled/></td>
					<td>与客户关系<input type="text" name="relationship" class="tbInput" value="{{obj.relationship}}" disabled/></td>	
					<td>身份证号码<input type="text" name="id_number" class="tbInput" value="{{obj.id_number}}" disabled/></td>
					<td>家庭电话<input type="text" name="phone" class="tbInput" value="{{obj.phone}}" disabled/></td>
					<td>主营业务或职务<input type="text" name="main_business" class="tbInput" value="{{obj.main_business}}" disabled/></td>	
					<td>经营地址或工作单位地址<input type="text" name="address" class="tbInput" value="{{obj.address}}" disabled/></td>	
					<td>主要资产<input type="text" name="major_assets" class="tbInput" value="{{obj.major_assets}}" disabled/></td>
					<td>月收入<input type="text" name="monthly_income" class="tbInput" value="{{obj.monthly_income}}" disabled/></td>
				</tr>
				<tr class='add'>
					<td colspan='2'>家庭详细地址<input type='text' name='' class='tbInput' disabled/></td>	
					<td>户籍所在地<input type='text' name='' class='tbInput' disabled/></td>
					<td>住房性质
						<select name='' disabled>
							<option value='1'>自有产权(按揭)</option>
							<option value='2'>自有产权(无按揭)</option>
							<option value='3'>小产权</option>
							<option value='4'>租用</option>
							<option value='5'>其他</option>
						</select>
					</td>
					<td colspan='3'>备注<br/><input type='text' name='' class='tbInput' disabled/></td>
                </tr>
				{%- endfor %}
			</table>
		</div>
	<!--*****************************************有无抵押物**************************************************-->
		<i class="icon-bookmark"></i><span class="titletip">有无抵押物</span>
		<div class="divBorder">
			<table id="ywdyw" class="table-list">
				<tr>
					<th>物品名称</th>
					<th>所有者、地址</th>
					<th>描述</th>							
					<th>登记号</th>
					<th>估价(元)</th>
					<th>抵押(元)</th>									
				</tr>
				{%- for obj in guaranty %}
				<tr class="center"><!--后期Js中要增加ID字段-->
					<td><input type="text" name="obj_name" class="tbInput" value="{{obj.obj_name}}" disabled/></td>			
					<td><input type="text" name="owner_address" class="tbInput" value="{{obj.owner_address}}" disabled/></td>				
					<td><input type="text" name="description" class="tbInput" value="{{obj.description}}" disabled/></td>	
					<td><input type="text" name="registration_number" class="tbInput" value="{{obj.registration_number}}" disabled/></td>	
					<td><input type="text" name="appraisal" class="tbInput" value="{{obj.appraisal}}" disabled/></td>
					<td><input type="text" name="mortgage" class="tbInput" value="{{obj.mortgage}}" disabled/></td>					
				</tr>
				{%- endfor %}
			</table>
		</div>
		
	<!--**************************担保信息*********************************-->
		<i class="icon-bookmark"></i><span class="titletip">担保信息</span>
		<div class="divBorder">
			<table id="dbInformation" class="table-list">
				<tr>
					<th>姓名</th>
					<th>地址</th>
					<th>身份证号码</th>							
					<th>工作单位</th>
					<th>电话</th>		
					<th>与申请人关系</th>								
				</tr>
				{%- for obj in guarantees %}
				<tr class="center"><!--后期Js中要增加ID字段-->
					<td><input type="text" name="name_db" class="tbInput" value="{{obj.name}}" disabled/></td>
					<td><input type="text" name="address_db" class="tbInput" value="{{obj.address}}" disabled/></td>							
					<td><input type="text" name="id_number_db" class="tbInput" value="{{obj.id_number}}" disabled/></td>	
					<td><input type="text" name="workunit_db" class="tbInput" value="{{obj.workunit}}" disabled/></td>
					<td><input type="text" name="phone_db" class="tbInput" value="{{obj.phone}}" disabled/></td>	
					<td><input type="text" name="relationship_db" class="tbInput" value="{{obj.relationship}}" disabled/></td>										
				</tr>
				{%- endfor %}
			</table>
		</div>
		<!--***************************************分类信息**************************************************-->
			<div class="divBorder">				
				<table class="table-list" cellspacing="10" id="uesr-list">
					<tr>
						<td class="table-label">贷款编号</td>
						<td style="width:35%;"><span id="">{{view_query_loan.loan_apply_id}}</span></td>				
						<td class="table-label">客户名称</td>
						{%- if view_query_loan.company_customer_name %}
						<td style="width:35%;"><span id="">{{view_query_loan.company_customer_name}}</span></td>	
						{%- else %}
						<td style="width:35%;"><span id="">{{view_query_loan.individual_customer_name}}</span></td>
						{%- endif %}											
					</tr>
					<tr>
						<td class="table-label">贷款类型</td>
						{%- if view_query_loan.loan_type == '1' %}
							<td colspan="3"><span id="">微贷</span></td>	
						{%- else %}
							<td colspan="3"><span id="">小额贷</span></td>	
						{%- endif %}								
					</tr>
					<tr>
						<td class="table-label">贷款期限</td>
						<td><span id="">{{view_query_loan.loan_deadline}}月</span></td>				
						<td class="table-label">贷款余额(元)</td>
						<td><span id="">{{view_query_loan.loan_amount}}</span></td>												
					</tr>
					<tr>
						<td class="table-label">逾期金额(元)</td>
						<td><span id="">0</span></td>				
						<td class="table-label">逾期天数</td>
						<td><span id="">0</span></td>												
					</tr>
					<tr>
						<td class="table-label">系统资产分类</td>
						<td><span id="">关注</span></td>				
						<td class="table-label">手工资产分类</td>
						<td>
						{%- if classify %}
							<select name="classify">
								{%- if view_query_loan.classify == 1 %}
									<option value="1" selected>正常</option>
								{%- else %}
									<option value="1">正常</option>
								{%- endif %}
								{%- if view_query_loan.classify == 2 %}
									<option value="2" selected>关注</option>
								{%- else %}
									<option value="2">关注</option>
								{%- endif %}
								{%- if view_query_loan.classify == 3 %}
									<option value="3" selected>次级</option>
								{%- else %}
									<option value="3">次级</option>
								{%- endif %}
								{%- if view_query_loan.classify == 4 %}
									<option value="4" selected>可疑</option>
								{%- else %}
									<option value="4">可疑</option>
								{%- endif %}
								{%- if view_query_loan.classify == 5 %}
									<option value="5" selected>损失</option>
								{%- else %}
									<option value="5">损失</option>
								{%- endif %}
							</select>
						{%- else %}
							<select name="classify">
								<option value="1">正常</option>
								<option value="2">关注</option>
								<option value="3">次级</option>
								<option value="4">可疑</option>
								<option value="5">损失</option>
							</select>
						</td>												
					</tr>
					<tr>
						<td class="table-label">担保方式</td>
						<td colspan="3"><span id="">抵押</span></td>									
					</tr>
					<tr>
						<td class="table-label">分类认定说明</td>
						<td colspan="3"><textarea name="classify_dec" style="width:80%;">{{view_query_loan.classify_dec}}</textarea></td>									
					</tr>
				</table>
			</div>
			<input type="submit" value="提交" class="btn btn-info"/>
			<input type="button" value="返回" class="btn btn-info" onclick="iframe('Process/zcfl/zcfl')"/>
		</div><!--/row-fluid -->
	</form><!--/content -->
	
	<script src="/static/js/jquery-1.7.2.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/script.js"></script>
</body>
</html>
